[2017-11-01 17:51] bdancer commented on #217
Darkening is happening because of vignetting + f_stop < 1.0. Set vignetting to 0.0 or some low value.

[2017-11-01 17:56] bdancer commented on #217
I've pushed some changes, you have to recreate phys cam properties pressing with toolbar button.

[2017-11-01 18:11] galagast commented on #217
Cool, that solved the darkening!

I re-checked why the Vignetting parameter was affecting the render by default.
In 3dsmax, I found that the Physical Camera has a checkbox to enable it.
![image](https://user-images.githubusercontent.com/16534677/32289395-944a6b46-bf71-11e7-89f6-59c5158d6090.png)
And that checkbox is only available if Physical Camera Exposure control is installed/set.
![image](http

[2017-11-01 21:03] dominik2608 opened #265 "Prefiltering LC - Log writes out even after stopping render"
Hi,

1. fire a render to disk with the attached scene
2. after the light cache is build **and** prefiltering starts - hit stop
3. the log continues writing the percentage of prefiltering and has to complete until any new render can be executed

This is no problem with smaller renders, but not with heavy scenes. Also the prefilteing log could be shrinked in step size I suggest.

[prefiltering.zip](

[2017-11-01 21:06] dominik2608 commented on #134
Hi, is there any progress on that issue - just curious...

[2017-11-01 22:05] bdancer commented on #134
@dominik2608 have u tried pressing it in the latest builds? Afair I've implemented this last week, should work...

[2017-11-01 22:19] dominik2608 commented on #134
Yes, I use the build from today. For example render setting changes are not transferred and the buckets change from triangulation to top/bottom. In one of my scenes I get a thin black line and fireflies... but this would be difficult to reproduce I think atm....

[2017-11-02 00:30] galagast commented on #265
I can confirm this.
[prefilter_bug.zip](https://github.com/ChaosGroup/vray-for-houdini/files/1436095/prefilter_bug.zip)
In the attached MOV file, I hit the stop button (at around 8secs), yet prefiltering continues.

[2017-11-02 00:38] galagast commented on #134
I tested this out on a simple scene.
Using build: vfh 1809 3ab87a2 hfs16.0.736 2017-11-01
Seems to be working on my end. I'll look out for this next time I try to setup a more complex scene.

[2017-11-02 11:37] Eiken opened #266 "Yeti Procedural support"
Are you planning to add something to make it possible to use the yeti procedural when rendering?

Similar to https://docs.chaosgroup.com/display/VFK/Setup+for+rendering+Yeti+caches

[2017-11-02 11:47] Eiken commented on #266
I hacked togheter my own preview node for the caches but I have no idea how to make em render :)

[2017-11-02 11:51] bdancer commented on #265
Should print stuff fast again https://github.com/ChaosGroup/vray-for-houdini/commit/0cc4de773ade022a3d1029253279ad6ec4c5ed9b.

[2017-11-02 11:52] bdancer commented on #217
Added with https://github.com/ChaosGroup/vray-for-houdini/commit/184096b3148f735dadfdc0503017308a73916ea4.

[2017-11-02 11:53] bravehamster commented on #266
Hey @Eiken , iirc Yeti is not available in Houdini so you're essentially asking for a node to load the Yeti cache files in your Houdini scene and render them, correct ?

[2017-11-02 11:54] bdancer commented on #266
You could export Yeti to the *.vrscene file and then use VRayScene node to load it. However, I'll need to make some additions to make it possible to re-shade it (if this is needed).

[2017-11-02 12:00] Eiken commented on #266
@bravehamster more like just taking the path and translating it to correct vrscene syntax when rendering like the katana translator. I'm pretty sure the stand alone procedural should render it then.

@bdancer that could work for us. It would just have some default shading initially so being able to assign a new material would be needed.

[2017-11-02 12:05] Eiken commented on #266
Tried loading a vrscene with Yeti and got

Crash report from erjo; Houdini Core Version 16.0.705 [linux-x86_64-gcc4.8]
Uptime 114 seconds
Thu Nov  2 13:04:11 2017
Caught signal 11

Traceback from 3414 ThreadId=0x7f4d4c48cb80
AP_Interface::coreDumpChaser(UTsignalHandlerArg) <libHoudiniUI.so>
AP_Interface::si_CrashHandler::chaser(UTsignalHandlerArg) <libHoudiniUI.so>
signalCallback(UTsignalHandlerAr

[2017-11-02 12:08] Eiken commented on #266
I can share the vrscene file by email

[2017-11-02 12:18] bdancer commented on #266
@Eiken yes, will be helpful.

[2017-11-02 12:21] Eiken commented on #266
You have mail at your chaosgroup mail

[2017-11-02 14:08] dominik2608 opened #267 "UV RE"
Hi,
I would like to get UVs  in my RE. So I piped from a sampler node uv to an extr tex. But no luck. Is it not yet supported?

[2017-11-02 14:21] bdancer commented on #267
Not sure it'll work this way. Try "meshvertexchannel" and set the name to the name of your uv attribute.

[2017-11-02 14:29] dominik2608 commented on #267
Works great!!! Never thought of that node, hehe! Thanks!!

[2017-11-02 14:54] bdancer commented on #266
While we're fixing the preview mesh generation crash, here is what I came up with for material overrides.
Implemented the same way as for Max/Maya with the override snippet:
![vfh_vrayscene_overrides_yeti](https://user-images.githubusercontent.com/319784/32332534-68cf5792-bfee-11e7-9514-7054481df8d2.png)

[2017-11-02 15:00] dominik2608 opened #268 "Domelight | Rotation not affected"
Hi,

I can't rotate my domelight through the transform parameters.

Is this broken?
vfh-184096b

[2017-11-02 15:02] dominik2608 opened #269 "Softbox Texture not working"
Hi,

it seems that the softbox texture does not work at all - or I am doing something wrong....
vfh-184096b

Cheers
Dominik

[2017-11-02 16:15] bdancer commented on #269
Yeh, smth got broken, anyway it'll be "broken" even more after https://github.com/ChaosGroup/vray-for-houdini/issues/214, so I'll check this after implementing https://github.com/ChaosGroup/vray-for-houdini/issues/214.

[2017-11-02 16:47] dominik2608 opened #270 "Render with take not working with RT"
Hi,

I have an override on a switch in /mat. driving a color
With Render To Disk everything is fine, but ignored in RT. Only if I switch the take to the desired one in the top right corner from the take list.

Cheers
Dominik

[2017-11-03 10:49] bdancer commented on #270
In RT ("Render RT" button) or IPR ("Render View")?

[2017-11-03 11:24] dominik2608 commented on #270
In RT ("Render RT" button) Vray Frame Buffer

[2017-11-03 12:18] dominik2608 commented on #270
Here is a scene:
[takeRT.zip](https://github.com/ChaosGroup/vray-for-houdini/files/1440978/takeRT.zip)

[2017-11-03 15:57] bdancer commented on #270
@dominik2608 this appears to be pretty tricky, won't be implemented very fast.

[2017-11-04 18:44] galagast commented on #217
I tested with a newer version:
vfh 1842 68bd72b hfs16.0.736 2017-11-04
Works great! Thank you for the fix.

[2017-11-04 18:52] galagast commented on #265
I can confirm that this is now fixed 👍
Hitting the stop button would now end pre-filtering.

[2017-11-04 18:56] galagast commented on #259
Confirming, this one is now fixed! Thank you very much!
vfh 1842 68bd72b hfs16.0.736 2017-11-04

[2017-11-04 19:43] dominik2608 commented on #265
Sorry for the delayed answer - I can confirm too

[2017-11-04 19:44] dominik2608 commented on #267
Can be closed

[2017-11-06 07:57] #267 closed

[2017-11-06 07:58] #265 closed

[2017-11-06 12:09] Eiken commented on #214
Any ETA when this will be merged?

[2017-11-06 12:18] bdancer commented on #214
@Eiken this month for sure.

[2017-11-06 13:05] bravehamster commented on #268
Hey there, the transformation parameters on the dome light node don't work at the moment.
You could create a simple setup that allows you to transform the texture [like this](https://chaossw-my.sharepoint.com/personal/gosho_genchev_chaosgroup_com/_layouts/15/guestaccess.aspx?docid=06a42869a0ab84fa493c3a1ec804011ae&authkey=AdM1A3GQcvh4YjhS5X_cu6U&e=8430368af53d40478ac0a1b28af0cb48)

[2017-11-06 15:39] bdancer commented on #266
@Eiken please try the new build.

[2017-11-07 10:03] dominik2608 commented on #270
Hi Andrei,

what do think how long it will take to get it implemented, some more days or longer?
It would be amazing to have it in my particular case, because I have to light a lot different objects where I really would like to take the advantage to switch takes in RT.

Thanks and cheers
Dominik

[2017-11-07 10:12] bdancer commented on #270
@dominik2608 would you need to switch takes during the RT session running?

[2017-11-07 10:16] dominik2608 commented on #270
Hm, would be super cool - but - if it would take too long to implement I would also be fine with per session

[2017-11-07 10:37] Eiken commented on #266
Not crashing any more!
Thanks!

However when I add libvray_pgYetiVRay.so to the VRAY_PLUGINS_x64 it still can't find the procedural.

[2017/Nov/7:11:33:53] VFH | Warning| V-Ray: Failed to create object of type "pgYetiVRay"

Is there some other environment variable that I might need to set?
Current variables:

VRAY_APPSDK=/network/storage/V-RayHoudini/linux/16.0/vfh-ee84971/appsdk
VRAY_AUTH_CLIENT_

[2017-11-07 10:38] Eiken commented on #242
I just noticed this as well today. Have to render with IPR first before regular VFB works.

If I strace the process I see lots of this:

poll([{fd=10, events=POLLIN}, {fd=21, events=POLLIN}, {fd=9, events=POLLIN}], 3, 0) = 0 (Timeout)
poll([{fd=10, events=POLLIN}, {fd=21, events=POLLIN}, {fd=9, events=POLLIN}], 3, 0) = 0 (Timeout)
poll([{fd=10, events=POLLIN}, {fd=21, events=POLLIN}, {fd=9, events

[2017-11-07 10:51] Eiken commented on #266
appsdk/bin/plugins/
This is where other plugins live but I don't see any environment variable that configures that. Just the base path of APPSDK.

Katana seems to have a VRAY_FOR_KATANA_PLUGINS_x64 variable to use

[2017-11-07 10:57] Eiken commented on #266
I made a symlink to libvray_pgYetiVRay.so in appsdk/bin/plugins/ and it renders :)

Now I just need an environment variable for it instead.

[2017-11-07 11:20] dominik2608 opened #271 "Vray Rect light - no alpha option for texture"
Hi,

I am missing the option to use an alpha for a texture. Like in maya e.g.
Without you always face edges when using textures like gradients for example...

Thanks
Dominik

[2017-11-07 12:13] bdancer commented on #266
Added https://github.com/ChaosGroup/vray-for-houdini/commit/1b15cff0c1693e90eb9efb273d5cb8691f433301.

[2017-11-07 12:13] bdancer commented on #270
Hope this https://github.com/ChaosGroup/vray-for-houdini/commit/824993825c310f65220f3089e528c5db18613ae2 will work.

[2017-11-07 12:53] dominik2608 commented on #270
Cool - is it in the download section already?

[2017-11-07 13:08] Eiken commented on #266
Great!

So now I have some kind of base and know that the procedural works. It would be swell if it worked directly with .fur files as the Katana workflow but this is a big step forward.

For future development do you think it would be possible to create like a "VRayProcedural" node?
It could have a text paramter for procedural name and a key, value parameter for the additional attributes.

Then a

[2017-11-07 13:37] bdancer commented on #270
@dominik2608 not yet, tomorrow.

[2017-11-07 13:38] bdancer commented on #266
@Eiken since we have a VRayScene node I'm not sure we need to have any additional nodes.

[2017-11-07 14:21] Eiken commented on #266
If it was implemented like this I could also combine it more easily with my "preview" otl to make a pretty good "Yeti for VRayHoudini" full solution.

[2017-11-07 14:32] bdancer commented on #266
@Eiken that's exactly one of the reasons of having this project open source. Contributions are very welcome =)

[2017-11-07 14:37] Eiken commented on #266
I'd be happy to contribute the otl and python code but my c++ is very rusty.

Another reason for not using vrscene is that the export procedure in maya is very tedious. You can't just select something and export it. You have to do all kinds of hacks to get a vrscene of your selection exported like setting "Render Selection" in the maya native render view. It's overall very not pipeline friendly.

[2017-11-07 14:39] bdancer commented on #266
@Eiken yeh, makes sense, write me a email pls.

[2017-11-07 14:44] dominik2608 commented on #270
ok - thx

[2017-11-08 17:09] bdancer commented on #266
Let's see how it'll work https://github.com/ChaosGroup/vray-for-houdini/commit/677cc2fa27d7a492769a5b5145f10681ec20e504.

[2017-11-09 09:44] Eiken commented on #266
Awesome! Seems latest nightly build got stuck at 44c79ab so i'll wait until tomorrows.

[2017-11-09 12:15] bdancer commented on #266
@Eiken I've uploaded some new ones. Linux builds will be a bit later...

[2017-11-09 13:05] Pirminus opened #272 "OSL Support"
Hey!

I would like to use the OSL - Thin Film Shader in Houdini. unfortunately I can't find a way to create an OSL - Shader ? Will this feature be implementend ?

Best regards
Pirmin

[2017-11-09 13:31] bdancer commented on #272
Yes, it will be implemented.

[2017-11-09 14:48] dominik2608 opened #273 "Vray Fresnel doesn't work"
Hi,

wire a Vray Fresnel to an extratex as a Render Element. Front Color Black, Side color White.
For me it renders completely black.

vfh-44c79ab

Cheers
Dominik

[2017-11-09 15:40] bdancer commented on #273
Yeh, there is an export bug, as a workaround set "* Ior Tex" values to the same as "* Ior".

[2017-11-09 15:44] #273 closed

[2017-11-09 17:31] Eiken commented on #266
Unfortunately i'm on linux but i'll check the nightlies page for when a linux build shows up.

[2017-11-09 17:38] Eiken commented on #266
`[2017/Nov/9:18:36:39] VFH |   Debug| VRayPgYeti::cookMySop()
[2017/Nov/9:18:36:53] VFH |   Debug| Initialize SOHO...
[2017/Nov/9:18:36:53] VFH |   Debug| Processing Mode: "generate"
[2017/Nov/9:18:36:53] VFH |   Debug| IPR Port: 43501
[2017/Nov/9:18:36:53] VFH |   Debug| Driver: /out/vray_ipr
[2017/Nov/9:18:36:53] VFH |   Debug| Camera: /obj/cam1
[2017/Nov/9:18:36:53] VFH |   Debug| Now: 41.696
[

[2017-11-09 17:38] Dentzz1 opened #274 "Nightly for 16.5"
I know it only was released a few days ago but any estimates for when nightly builds might be available for H16.5.268?

[2017-11-09 19:32] bdancer commented on #274
@Dentzz1 working on it, there are some API changes, hope to finish tomorrow.

[2017-11-09 19:34] bdancer commented on #266
@Eiken sry, I've forgot to push new file https://github.com/bdancer/plugins_desc/commit/16e49144809be594d79a960e19ed36de11266951.
You could download it and copy to "plugins_desc" directory.

[2017-11-10 06:55] Pirminus opened #275 "Change VRay-Renderer for VFB"
Hey!

I would like to have a direct comparison between different VRay-render Rops, but as soon as I select another VRay-Renderer and Press "Render" from the Shelve it opens a second VFB. May it be possible to use just one Framebuffer or to change the VRay-Renderer within the Framebuffer itself ?

Best regards
Pirmin

[2017-11-10 07:07] Pirminus opened #276 "Support for Houdini-Nodes"
Hey!

Is there a way to use Houdini Natives Nodes inside the Shopnet/Vraymtl like Multiply,Add, FitRange, Turbulent/Anti-Aliased Noise etc.. ?

Best Regards
Pirmin

[2017-11-10 09:11] Eiken commented on #266
Now I don't get errors when I toggle parameters on the node anymore but no fur when rendering. Log is:
[code]

[2017-11-10 09:29] bdancer commented on #276
No, this is not possible.

[2017-11-10 09:29] #276 closed

[2017-11-10 09:29] bdancer commented on #275
No, this is not possible, every node is a separate V-Ray instance.

[2017-11-10 09:29] #275 closed

[2017-11-10 10:23] bdancer commented on #266
@Eiken ok I got it, my bad, I a workaround connect it to Transfrom node.

[2017-11-10 10:38] Eiken commented on #266
[](url)
![screenshot from 2017-11-10 11-36-46](https://user-images.githubusercontent.com/2283953/32654442-8aec6284-c60b-11e7-96ba-3ba2c6ac5ccc.png)

All parameters works as well. Adjusting of density,length and width.
Shader changes can be done without having to regenerate the fur.

Very nice!

[2017-11-10 13:43] bdancer commented on #274
There is smth with the shipped SDK libraries, this will take more time.

[2017-11-10 13:45] Pirminus opened #277 "Displacement with SHOP-Noise"
Hey!

I wanted to Displace a Grid with the Maya Noise within a VRay-Material, but it does not seem to work.
What I did:

![screenshot from 2017-11-10 14-41-44](https://user-images.githubusercontent.com/32384165/32661032-8950af7e-c625-11e7-910f-184e8f074c87.png)
![screenshot from 2017-11-10 14-42-57](https://user-images.githubusercontent.com/32384165/32661037-8d1a1cbc-c625-11e7-9b10-4e4d2838c1cc.pn

[2017-11-10 14:18] bdancer commented on #277
Look like a bug https://github.com/ChaosGroup/vray-for-houdini/commit/8c4429cc8fcd6ba3a6ee10132b979bb8d6f9deb9.

[2017-11-14 12:11] dominik2608 commented on #271
Hi,
any news on that topic?
Thx
Dominik

[2017-11-14 12:24] #271 closed

[2017-11-14 14:40] #174 closed

[2017-11-14 14:40] #201 closed

[2017-11-14 15:05] #274 closed

[2017-11-14 20:53] dominik2608 commented on #270
Works as described! Thx! For those interested : just be aware that changes made in the RT session in the particular take are temporary and are gone after stopping RT.

[2017-11-14 21:09] Dentzz1 opened #278 "GPU or Hybrid rendering status"
What is the status or version of Vray GPU rendering in Houdini? Was curious where it is on things such as hybrid rendering, support for different material and features which I think are available for older versions of vray or at least can confirm work when I try it on vray for modo. Not sure if Houdini is running an older vray version GPU isn't being focused on or these are bugs.

[2017-11-15 07:41] Pirminus opened #279 "Mesh Light"
Hey!

I have an issue using the VRay-Mesh-Light. Just a simple Sphere as Vray Mesh-Light. I attached a scene and a crashlog.

[Mesh_Light_Crash.zip](https://github.com/ChaosGroup/vray-for-houdini/files/1473755/Mesh_Light_Crash.zip)

Best Regards
Pirmin

[2017-11-15 10:00] bdancer commented on #278
Use ocldeviceselect.exe to select GPU/CPU.
GPU support status is not yet exposed in UI.

[2017-11-15 10:02] bdancer commented on #270
Could you give more details? Should this be fixed?

[2017-11-15 10:56] Dentzz1 commented on #278
Okay was able to get that. With ocldeviceselect.exe it says successfully parsed environment variable  OpenCL platforms. Is the cpu operating as a CUDA device like it says for 3.6 and the environment variable is just labeled open cl or is the cpu running as an Opel CL device?

Is low thread priority not exposed as well?

When using GPU are the controls under RT or are they somewhere else? Setting m

[2017-11-15 11:25] bdancer commented on #271
@dominik2608 have you tried it? I've added a few options.

[2017-11-15 13:13] bravehamster commented on #279
Hey there, the crash is not present in the latest nightly but the Mesh Light doesn't produce any illumination. It's a known issue that will be resolved soon.

[2017-11-15 13:48] bdancer commented on #278
Should be better https://github.com/ChaosGroup/vray-for-houdini/commit/4601f1f409c532af50ef8b2845e80f2ab8480050.

[2017-11-16 03:11] Dentzz1 opened #280 "Houdini Locks on Rendering"
Using today's nightly 4601f1f when clicking the Render to Disk button Houdini locks so that nothing can be moved or changed in the interface. Stopping the render with the vray frame buffer returns the program back to normal.  Using the IPR/Render RT vray and houdini interface works normally while rendering. Anyone else having this issue?

[2017-11-16 07:30] postcontrol commented on #280
I think this is deliberately made.  I think this is also "feature" which allows piping render nodes in chain, correct me if I'm wrong!? When pressing rendering to disk, also mantra locks houdini interface. In mantra and vray there's "render to disk in background" which does not lock houdini's interface when rendering to disk. I have not tried background rendering with vray, so I don't know if it w

[2017-11-16 08:13] postcontrol opened #281 "Vray displacement: mat context"
Hi,

Is there anyway to get material specific displacement from mat context? Just curious.
I have rbd sim which varies couple of objects and only few should has displacement. Material has been assigned in SOP level and displacement should be bound to material not object.
I think now only way is to split result of rbd sim to objects and do displacement in object level.
I'm also using same objects e

[2017-11-16 12:19] Dentzz1 commented on #280
Pretty sure it didn't lock on the previous vray nightly build and this is not how mantra works when rendering a single frame. This locking does happen when rendering a frame range (probably to avoid changes not to the current frame being rendered but later frames) which is good. You are correct that you can render in the background which you save a file and it runs the rendering as a separate proc

[2017-11-16 12:37] bdancer commented on #280
@Dentzz1 As @postcontrol already wrote this was done to allow ROP chaining. If I'll find a way to detect such cases I'll remove the lock, but currently this is how it works.

[2017-11-16 13:47] Dentzz1 commented on #280
@postcontrol @bdancer That makes sense, and it is definitely more important to have and keep ROP chaining. When you do render with a chain you get or need to go into the Controls... where you are given a choice of just a single node "Only this Node" or "This Node and all Inputs" which also locks the interface. Since Vray renders out to the vray frame buffer I figure that in operation it is very si

[2017-11-16 14:21] dominik2608 commented on #271
Sorry - Had no time, I have delivery phase at the moment. Could not implement the feature in the current show, was to toght to the deadline. I'll report as soon as possible

[2017-11-16 14:37] Dentzz1 commented on #280
@bdancer @postcontrol Just a thought but maybe creating a window in Houdini like a progress bar would also help so that you can know it is rendering and not that the program froze?

[2017-11-20 00:54] Dentzz1 opened #282 "GPU double sided, reverse face issue?"
Using the GPU render I am having issues with what I think is double sided or reversed faces. I created a box deleted one of the sides and rendered. Vray CPU is able to correctly render this out if double sided is checked.
![cpubox](https://user-images.githubusercontent.com/22080153/32997755-2dfcf60c-cd62-11e7-90cb-0236f18fc0bc.jpg)

The GPU does not correctly render this out and gets the same resu

[2017-11-20 10:33] postcontrol opened #283 "Vray IPR: Cancel only cancels updating render view"
Hi,

It seems that vray ipr only cancel updating render view but remains rendering in background, when using ipr in render view. Even if I cancel render with (X) button houdini console still loweres noise threshold and CPU usage remains 100%:
Qt Error: QWindowsPipeWriter::write failed. ()
[2017/Nov/20:12:29:51] VFH [Info] V-Ray: Noise threshold lowered to 0.142857 with 12.8 percent active pixels.

[2017-11-20 12:54] postcontrol opened #284 "V-Ray Renderer: export vrscene each frame in seperate file."
Hi,

When I try to export vrscene each frame in seperate file checkbox on it saves same file over without changing frame numbering .

If export file path is named: $HIP/vrscenes/Anim.vrscene
It always exports Anim_0000.vrscene over and not changing frame number.

If export file path is named: $HIP/vrscenes/Anim.$F.vrscene
It exports Anim.0_0000.vrscene, Anim.1_0000.vrscene etc...

Am I doing somet

[2017-11-20 13:24] bdancer commented on #283
To make this work correctly we'll have to drop 16.0 support, because 16.5 contains API fixes that we need. So, I'll fix this a bit later.

[2017-11-20 15:12] postcontrol opened #285 "Vray Renderer: Exporting vrscenes with motion blur on, only renders dome"
Hi,

If I export one vrscene with motion blur on and try to render it with deadline in farm, it only renders domelight with texture. If I turn motion blur off it renders fine.

I have couple animated geometry (fluid sim) exported sequenced vray-proxys. If I render normally (no vrscene export) it renders fine.

![render_settings](https://user-images.githubusercontent.com/18567683/33025148-d54b63b8-

[2017-11-20 15:25] bravehamster commented on #282
Hey there!
There are a couple of things going on here.
First of all, yes, it seems that the GPU won't render backfaces even if DoubleSided is enabled.

The faces on your second screenshot are shaded for another reason - when 2-sided is disabled on the V-Ray material and you're looking at the back side of a face that is receiving illumination from a light source, it seems that the shading of the fr

[2017-11-21 15:05] bdancer commented on #284
I'm thinking of removing this UI option, $F should work just fine.

[2017-11-21 15:13] bdancer commented on #281
I've pushed some changes a while ago, now you could use "V-Ray Material Output" node in MAT context and simply assign it as the material.

[2017-11-22 07:43] postcontrol commented on #284
Hi, good to know. Now if I export vrscene in frame range 1-5 with name "$HIP/vrscenes/$OS.$F4.vrscene" and send it to farm with deadline, all render task renders full frame range, so eventually all farm machines are rendering same full frame-range overwriting each other. Not sure if this is deadline problem or does vrscene include full frame-range information for each vrscene file even if vrscenes

[2017-11-22 11:27] bdancer commented on #284
@postcontrol motion blur (and animation) export in a single file is a problem, yes, and it appears to be a pretty tricky bug I'm fixing right now.

Seems like, I'll check this.

[2017-11-27 12:15] dominik2608 commented on #271
Hi Andrei,
so I  now found some time to test it. For textures with own aplpha channels it seems to work as expected, but I miss the options from Maya, where I can put the red channel of my texture to the alpha input of the Vray Rect Light. That would be great for textures not carrying any alpha and avoiding creating one.

Would that be possible?
Cheers
Dominik

[2017-11-27 12:20] bdancer commented on #271
@dominik2608 how do you want this to be implemented? A texture network?

[2017-11-27 13:38] dominik2608 commented on #271
Hm... I am not the expert in Houdini to decide that... or I have to use a COP Network ...

[2017-11-27 13:57] dominik2608 opened #286 "Crash after moving light in RT with VFB"
Hi,

I have attached a scene file. If I fire a RT render and then rotate the RectLight - Houdini crashes.
[vrayRectLight_Caustics.zip](https://github.com/ChaosGroup/vray-for-houdini/files/1506052/vrayRectLight_Caustics.zip)

Cheers
Dominik

[2017-11-27 14:11] bdancer commented on #271
You could do smth like this:
![vfh_combine_alpha](https://user-images.githubusercontent.com/319784/33270692-9234f1de-d38d-11e7-9f65-89206a421ba7.png)
 and then specify texture as "op:/mat/output" in the light.

[2017-11-27 14:18] bdancer commented on #286
@bravehamster could you reproduce this?

[2017-11-27 14:57] bravehamster commented on #286
@bdancer , it appears that the issues is related to the Render Region in the Frame buffer rather than the RectLight itself.

If you 1) start RT then 2) draw a render region and 3) try to transform anything in the scene, Houdini will crash.
I'll open a ticket.

@dominik2608 , good catch, thanks !

[2017-11-27 15:10] dominik2608 commented on #286
Glad to help!

[2017-11-27 17:25] bdancer commented on #272
Fixed with https://github.com/ChaosGroup/vray-for-houdini/commit/c0e7ed5929f8794a9b05f142db96f96c0b4372aa. Will be available in the next nightly build.

[2017-11-28 21:36] dominik2608 commented on #281
Hi,

Could anybody describe the workflow a little bit more in detail? I don't get it...
Cheers and thx

Dominik

[2017-11-29 04:18] Dentzz1 commented on #271
Would you need to place a channel_named node to map the bitmap image and checker texture? I think I have to do this with other vray materials but would it not be needed for lights? Also this be piped into texture or does it need to be put into intensity or color?

[2017-11-29 09:54] bdancer commented on #271
1. This setup works without any additional mappings.
2. To "Texture".

[2017-11-29 10:49] bdancer commented on #281
@dominik2608 [vfh_displacement.zip](https://github.com/ChaosGroup/vray-for-houdini/files/1513496/vfh_displacement.zip)

[2017-11-29 11:14] dominik2608 commented on #281
Thx Andrei!

[2017-11-29 12:08] dominik2608 commented on #271
I'll give it a try as soon I have a little more time... deadlines still in front of me ;-)

[2017-11-29 12:10] dominik2608 commented on #286
I just had the case without region rendering. I rotated the light and houdini freezes (no crash)

[2017-11-29 15:22] bdancer commented on #284
Should work better after https://github.com/ChaosGroup/vray-for-houdini/commit/f8c41c642add3c34f63c2f693bb88e13fa09c426.
However, proper animation export is still in progress and requires some changes to V-Ray AppSDK.

[2017-11-29 17:32] bdancer commented on #286
Strange, can't reproduce this...

[2017-11-29 17:38] postcontrol commented on #284
@bdancer What kind of limitations animation export has currently?

[2017-11-29 17:44] bdancer commented on #284
@postcontrol the one that you've posted here https://github.com/ChaosGroup/vray-for-houdini/issues/285. It's a bit difficult to explain the origin of this issue, but I've already fixed it. Just need some time to property update V-Ray SDK / V-Ray AppSDK.

[2017-11-29 17:58] postcontrol commented on #284
@bdancer Thanks for info :). I hate to ask but what you think, when you have time to make those changes to V-Ray SDK / V-Ray AppSDK? I was wondering because I have deadline in two weeks from now on, so I want to prepare if I need to find workaround for getting my animation done (yeah, I like living on the edge) :).

Anyways, I really appreciate all of your help you have done already. Gotta love Ch

[2017-11-29 18:07] bdancer commented on #284
@postcontrol I'll try to push the updates next week.

[2017-11-30 11:07] postcontrol commented on #284
@bdancer Thanks! it seems that 20171130 nighlty builds don't have 16.5 version yet? is it possible to have somehow, I could test current changes right now?

[2017-11-30 12:24] bdancer commented on #284
@postcontrol I'll restart the builds, should be ready in an hour.

[2017-11-30 14:44] bdancer commented on #266
@Eiken I'm going to update the AppSDK/V-Ray versions and Yeti won't work anymore (well until Yeti guys  update their plugin for new V-Ray SDK).

[2017-12-01 00:34] blented opened #287 "Instancing is very slow"
Here is a simple scene with 10,000 instanced rubber toys:
https://drive.google.com/file/d/1JTO6h453JchQDFZaoomCf3BU3JkhU1Md/view?usp=sharing

Mantra takes ~10 seconds to start rendering
VRay takes ~15 minutes to start rendering

Tested in both IPR and Render to Disk.  Once it starts it renders fast, but the startup time is unusably slow.  Hoping it's just something simple that I'm doing incorrectl

[2017-12-01 10:45] dominik2608 commented on #270
Hi Andrei.

I  think it should be fixed, because normally I would want to have even changes made during a RT session  be permanent, right?

I also encountered several crashes in the past couple of days with my scenes using the RT take feature. But unfortunately still not found something reproduceable....

[2017-12-01 13:52] postcontrol commented on #284
@bdancer Hi, I tested new per frame export:
Now it exports vrscene names as expected but it's rendering just a dome (not geometry) even motion blur isn't on. Also first frame resolution is correct, but rest renders 640x480.

is these problems also depending changes to V-ray AppSDK / V-ray SDK?

Win10, H16.5.268, vfh-2177-d989ffa-hfs16.5.268-qt5-windows

.m

[2017-12-01 14:53] postcontrol commented on #284
@bdancer One other observation:
Rendering with script using "Render Current Frame" and changing frame with python works if motion blur is "off" or no velocity render element included. If I include velocity render element it renders just a dome.

.m

[2017-12-01 15:36] bdancer commented on #270
@dominik2608 I'm really not sure why it discards the changes, I'm not doing it myself =) Ok, I'll figure it out.

[2017-12-01 16:43] bdancer commented on #287
Unfortunately, It's something not simple that I'm doing incorrectly.
Since, there is a possibility to override stuff inside packed with style-sheets and do it pretty deeply down to polygon level currently the exporter processes all poly primitives every time. I need to do some caching / styles checking. I'll fix this next week.

[2017-12-01 18:15] blented commented on #287
Ah that makes sense. I'd happily set a flag or something that disables
style sheets on certain sops if that helps the export speed, we almost
never use them as it's so easy to just use custom attributes directly in
the materials.

On Fri, Dec 1, 2017, 08:43 Andrei Izrantcev <notifications@github.com>
wrote:

--
Grant Miller
Ingenuity Studios
+1 323 460 6096

[2017-12-03 14:15] Dentzz1 opened #288 "Render Elements Node does not save"
If I create a render elements node in rop add some channels and link to the render elements network under the image folder it will render out fine. If I save the Houdini file and then reopen that file the render elements node disappears(or is deleted?) but the file path stays in the Render Elements Network so I know it was at some point created in that saved file.

Is this happening to anyone else

[2017-12-03 14:16] bravehamster commented on #288
@Dentzz1 , can you give me a Houdini and nightly build versions to check this ?

[2017-12-03 14:28] Dentzz1 commented on #288
@bravehamster
I'm running Houdini 16.5.268
I think I am using
vfh-2177-d989ffa-hfs16.5.268-qt5-windows

[2017-12-03 15:09] dominik2608 commented on #288
Hi,

I can't confirm, I am successfully using the above described workflow.
Hm, seems to be something strange

Maybe Andrei will figure it out

Cheers
Dominik

[2017-12-04 06:43] postcontrol commented on #288
Hi,

I can confirm that same happens here. For me render element node where it will disappears is locating in obj -> subnet -> rop network -> render elements.

Win10,  vfh-2177-d989ffa-hfs16.5.268-qt5-windows, H16.5

Cheers,
.m

[2017-12-04 08:39] dominik2608 commented on #288
As info:
mine is living directly in /out beside the render ROP.

[2017-12-04 10:57] Eiken commented on #266
No problem. Waiting for the node restructure before we kick off a live project in houdini

[2017-12-04 15:33] bdancer commented on #214
There will be no nightly builds for a while. I'm merging the UI changes as well as updating AppSDK / SDK.

[2017-12-04 21:16] Dentzz1 commented on #288
After seeing @postcontrol post I tried it again. If I create the render element in the "out/render_element" it is able to save and be re opened. If it is created in "obj/ropnet1/render_element" it disappears after re-opening a save file.

[2017-12-05 06:24] postcontrol commented on #284
@bdancer: I red from issue #214 that there wont be nightly builds for a while. Do you have some kind of estimate when nightly builds are online again? What you think should I switch to mantra with this project which has deadline next week Friday, or should I wait for fixes? Or do you know is there a some kind of workaround for getting motion blur or velocity pass to work with exported vrscenes?

C

[2017-12-05 10:13] bdancer commented on #284
Even if i'll upload this update this week it'll break almost all existing scenes anyway....

This upcoming update is the only way to fix this.

[2017-12-05 10:13] bdancer commented on #288
Reproduced, investigating...

[2017-12-05 12:45] bdancer commented on #287
I've managed to lower export time to 14 seconds for this scene. Hope it'll work for you. However we are in the process of updating core libraries and UI, so I'm not able to update the builds at this moment. Hope to finish this process this week.

[2017-12-05 14:40] blented commented on #284
Haha I can't tell if you're being sarcastic but yes absolutely, that's a
60x speedup ♥️

How much of a change is it if you turn the grid rows / columns up to 100
each? You can set the display to box in the pack node first. Ideally it
would still be quick now that the instances are being dumped out correctly.

Anxious for this and all the other big changes going on to get merged in :)

On Tue, Dec

[2017-12-05 14:45] bdancer commented on #284
@blented seems like you've commented under the wrong issue =) but anyway, 14 seconds were exactly for 100 x 100.

[2017-12-06 13:12] Dentzz1 commented on #214
Not sure if this is relevant but when you update the AppSDK/SDK will V4H be able to use the online license or still need the usb dongle as the SDK has nothing to do with licensing?

[2017-12-06 13:18] bdancer commented on #214
@Dentzz1 it could use both way even now.

[2017-12-06 13:26] Dentzz1 commented on #214
Oh how long was that running I had needed the dongle to run vray in houdini awhile ago? So what if anything will I need to ask for when the current thing runs out at the end of the month?

[2017-12-06 13:47] bdancer commented on #214
@Dentzz1 I'm not dealing with licensing usually; if you have any issues, please, write to support@chaosgroup.com.

[2017-12-06 13:54] Dentzz1 commented on #214
@bdancer I'm not having any issues at the moment but I got vray with modo and never had a dongle license. When I asked to get on the Houdini beta chaosgroup had to send a usb dongle. Every so often I get a notice on the license server that the DONGLE LICENSES EXPIRE SOON. So wasn't sure if I still have to contact them before or after Dec 31.

[2017-12-06 14:16] dominik2608 commented on #214
@Dentzz1 afaik your dongle is recognized by the online license service and you can use it in conjunction. Thats how we run it over here.

[2017-12-06 15:08] Dentzz1 commented on #214
@dominik2608 the dongle is recognized by the online license but at least in the past v4h did not see the online licenses only the dongle.

[2017-12-06 15:17] dominik2608 commented on #214
Ah ok

[2017-12-06 15:20] Dentzz1 commented on #214
@dominik2608 Or at least that was something I think was true back when chaosgroup told me they had to send me a usb dongle.

[2017-12-08 15:00] dominik2608 opened #289 "Drive shader parameters via custom attributes"
Hi,

I tried to set some attributes to drive a switcher in mat context via the 'Mesh Vertex Channel' Node, but had no luck.
Are there currently any limitations?
Thx
Dominik

[2017-12-08 15:26] bdancer commented on #289
Switcher is a Houdini node, it's queried only at export time.
What effect are you trying to achieve?

[2017-12-08 16:34] dominik2608 commented on #289
I have several user color nodes which are piped in different switches and these are going into different base materials
These switches should be driven on rendertime on different objects

[2017-12-08 16:39] bdancer commented on #289
And who drives those switches?

[2017-12-08 16:49] bdancer commented on #289
You could try using "user float" texture to drive "multi id" material. For textures I'll need to add "tex multi id".

[2017-12-08 17:00] dominik2608 commented on #289
![switches](https://user-images.githubusercontent.com/18614866/33776457-b5689ba8-dc41-11e7-9d69-9ae6880184d6.jpg)

[2017-12-08 17:13] bdancer commented on #289
@dominik2608 yes, TexMulti + TexUserInteger should work just fine in this case, but I can't add them right now. I'll add them after https://github.com/ChaosGroup/vray-for-houdini/issues/214.

[2017-12-08 17:44] dominik2608 commented on #289
Ok! Basically when having object with the same shader requesting together always the same color, I used takes to drive the switches. But now I had the case that I had to put together object with the same shader but different colors. So having that opportunity would be awesome to get my scene cleaner💪😊

Thx Andrei!

[2017-12-18 15:17] bdancer commented on #289
@dominik2608 could you pls send me this scene (or a simplified similar one)?

[2017-12-22 09:31] Eiken opened #290 "Consolidate output file naming to one attribute"
Currently we have
* File Format
* File Name
* Directory Path

All used to generate the output filename.

Please remove the Directory Path. Everything becomes easier if just having that as a part of File Name as it is with all other nodes in Houdini.

File Format can stay but if already existing in File Name don't add it a second time creating .exr.exr files. Best case it would work like other Houd

[2017-12-22 09:45] Eiken opened #291 "Binary to use for rendering generated vrscene files?"
Im setting up our houdini pipeline to support rendering vray houdini on the farm.

I can generate vrscene files but after that what is the correct binary to use for rendering the vrscene files? With vray for maya we got vray.bin that can be used standalone but can't find any similar in the houdini package.

[2017-12-22 12:47] bdancer commented on #291
You need V-Ray Standalone (Render Node).
Binary is vray.exe on Windows or "vray" shell wrapper for Linux.
Currently we're not shipping it with V-Ray for Houdini builds.

[2017-12-22 16:49] dominik2608 commented on #289
Hi Andrei,

I am on holidays already, so I would pass it over after 08.01.2018.

Merry Christmas to you all out there and a happy new year!!!!

Dominik

[2017-12-22 17:21] bdancer commented on #289
@dominik2608 tnx, man =) Happy holidays for u too!

[2017-12-30 22:10] Eiken commented on #291
Makes sense. So using the vray shell wrapper from a recent vray for maya should work fine? No custom shaders and stuff coming from houdini that is also needed?

[2018-01-02 15:58] blented commented on #291
@Eiken as long as you're using a recent nightly of Maya it will have everything you need.  We've been using it without issue to render Houdini on the farm.

[2018-01-08 13:18] dominik2608 commented on #289
you got mail!

[2018-01-11 10:27] bdancer commented on #214
This is taking more time that I've expected. Hope to finish this month.

[2018-01-11 11:37] Dentzz1 commented on #214
Oof, good luck. Is this SDK upgrade the new Vray next/4?

[2018-01-11 12:04] bdancer commented on #214
@Dentzz1 that too.

[2018-01-26 00:37] jonmoore1 opened #292 "Is vray4houdini on hold? Noticed no new nightlies since December 4th"
Just wondering what the status is? Schedule was stacked recently so first time checking in for a while.

[2018-01-26 10:59] dominik2608 commented on #292
Andrei is rewriting a lot of stuff - so little patience is required
#214

[2018-01-27 11:16] jonmoore1 commented on #292
All good. Just wondered the state of things as I hadn't checked up on the development in a while.
Thanks for the update Dominik.

[2018-01-30 10:56] Eiken commented on #292
Add me to the club of eager to play around with new version :)

[2018-02-15 19:39] Dentzz1 commented on #292
Yeah me too. Looking forward to seeing some new nightlies especially after 16.5.378 added a supplementary license. Is it vray next that they were showing DR with GPU rendering or is that something that already exists?

[2018-02-16 12:24] bdancer commented on #292
AFAIR, DR works with GPU from the beginning.

[2018-02-16 13:45] jonmoore1 commented on #292
Correct me if I'm wrong, but isn't one of the easiest ways to utilise GPU DR via the command line using the V-Ray Standalone. I know this was the way of things with Maya until RT was enabled as a production rendering option via the interface. There's very clear documentation on this in the V-Ray for Modo doc pages as Modo doesn't currently allow for RT animations via the interface.

[2018-02-16 13:49] jonmoore1 commented on #292
@bdancer - hadn't realised that you were active again. Just checked the nightlies and there's new stuff to play with. My SDK license is about to end. How much longer do you expect this process to be until V-Ray for Houdini is considered out of beta (I just want to be sure I ask for an appropriate extension)?

[2018-02-16 14:37] bdancer commented on #292
@jonmoore1 there are drop down menus on V-Ray ROP to enable GPU device (for RT/IPR and production). Of course you could also render *.vrscene via Standalone enabling GPU with the command line switch.

First, we'll re-enable nightlies based on V-Ray 4.x, then we'll see...

[2018-02-16 22:49] Dentzz1 commented on #292
@bdancer @jonmoore1 Oh cool. A few months ago Blago or Vlado had posted a video with DR working with RT and the adaptive image sampler. Thought it only worked with the bucket sampler and didn't know that the feature had been implemented for awhile.

[2018-02-22 17:40] blented opened #293 "VRay Light // Texture Colorspace Settings"
When specifying an HDRI for a VRay light, there should be controls for the colorspace of the HDRI.

It seems to be defaulting to sRGB currently (guessing), as the same HDRI in Houdini renders super bright and very differently from Maya.

Comparison:
![comparison](https://user-images.githubusercontent.com/1403171/36554398-0787dffe-17b4-11e8-858b-d59de79973e2.jpg)

Zip including Houdini and Maya sce

[2018-03-30 11:39] Eiken commented on #292
Any more news?

[2018-03-30 12:08] jonmoore1 commented on #292
As far as I know, they're waiting for things to firm up ref V-Ray 4 (Next). Once things are stable, they'll recommence integration work based on VR4.

[2018-04-02 10:24] bdancer commented on #292
Very sorry for such a huge delay, still fixing compatibility issues.
Will post some builds asap.

[2018-04-10 14:34] dominik2608 opened #294 "Total Chaos -- #noissue"
Hi all,

anybody attending Total Chaos in May?
Andrei, are you there?

Cheers
Dominik

[2018-04-11 09:41] bdancer commented on #294
@dominik2608 I'll be there for sure =)

[2018-04-11 09:51] dominik2608 commented on #294
Hey cool, let's meet then! I am there too

[2018-04-11 09:53] bdancer commented on #294
@dominik2608 perfect! See u!

[2018-04-20 10:02] bdancer commented on #292
Some libraries we are using at the project are not yet ready for V-Ray 4.x, but we are working on it...

[2018-04-20 14:04] vinyvince commented on #292
Vray 4.x? Isn't the latest release 3.6

[2018-04-26 16:51] StrobFX commented on #292
Hi Andrei, do you have any idea of how much time we have to wait (minimum) to be able to try V-Ray 4 in Houdini? I check here everyday ;)

[2018-04-26 17:24] vinyvince commented on #292
Yeah good point to ask and hopefully it will be stable enough

[2018-05-04 07:05] ronald-a commented on #292
@bdancer _Does this mean there are new nightlies for V-ray for Houdini (4.x)? If so, I suppose I have to ask for access, because the are not in the current houdini vray folder.

[2018-05-14 17:41] bdancer commented on #292
I've uploaded one nightly build, it'll require 4.x licenses both for V-Ray Render Node and V-Ray Application SDK. Some stuff is still broken (some Phoenix related), but hope it'll be useful.

[2018-05-14 18:59] Dentzz1 commented on #292
@bdancer How do we get a 4.x license? I think I was asked about testing the beta for V-Ray Next for Maya should I email back about that?

[2018-05-15 12:49] bdancer commented on #292
@Dentzz1 just write to support, they'll figure it out.

[2018-05-15 15:13] bravehamster commented on #292
@ronald-a , try the User Color VOP instead.

As a side note as you may stumble upon this - if you're adding a stylesheet and you want to override a parameter on a material (let's say reflect), you need to plug a userColor node into the reflect slot of the material, and rename the Attribute on the userColor node to "reflect". This is done intentionally to speed up the rendering of very heavy scenes

[2018-05-15 15:37] bdancer commented on #292
@ronald-a there is "V-Ray Material" node under SHOP. Also "mesh vertex" works fine for me (scene + a separate issue is much appreciated).

[2018-05-15 16:11] ronald-a commented on #292
@bdancer sorry, my bad. I meant for MAT context (and I meant exactly that node). I'm trying to stay away from SHOPs as they will be deprecated at some point.

@bravehamster User Color VOP did the trick - I could swear I tried that before and it didn't work.... didn't that use to work with meshvertexchannel at some point... hmmm, too much mantra lately

Nice, I didn't know that stylesheets work wit

[2018-05-15 16:18] bravehamster commented on #292
Yup, I've confirmed that there's an issue with the VertexColorChannel on my end. It defaults to reading the UV set so we've missed it.

[2018-05-15 18:15] bdancer commented on #292
@ronald-a I think I'll remove "meshvertexchannel", "User Color" covers much more cases. Ok, I'll add "V-Ray Material" to MAT.

[2018-05-16 08:35] ronald-a opened #295 "packed prim issue"
while looking at the new vray4 build and testing it with stuff I made with mantra I came across and issue with packed prims. see the attached scene. in the graspatch object go down to the red pack node and render the last null (RENDER) with the pack node turned on/off. there is something off with the translation.

On the same note: what is the recommended workflow with packed primitives / instance

[2018-05-16 08:39] ronald-a commented on #295
oh, and here is the scene
[vray_packedprim_issue.zip](https://github.com/ChaosGroup/vray-for-houdini/files/2008198/vray_packedprim_issue.zip)

[2018-05-16 11:53] bravehamster commented on #295
Hi, appears that the transforms are applied cumulatively for each level of the packed hierarchy.
Thanks for reporting!

[2018-05-16 12:10] ronald-a commented on #295
yes, I know. this is just me having some spare time doing some vray for houdini testing, so no worries.

also concerning my other question, is there a recommended workflow for packed prims and duplication. I am in the middle of doing some test with the scene i sent you duplicating that patch a couple of 1000 times. right now it seems that it does work a lot better with proxies but not nearly as sm

[2018-05-16 12:12] ronald-a commented on #295
@bravehamster yes, I know. this is just me having some spare time doing some vray for houdini testing, so no worries.

also concerning my other question, is there a recommended workflow for packed prims and duplication. I am in the middle of doing some test with the scene i sent you duplicating that patch a couple of 1000 times. right now it seems that it does work a lot better with proxies but no

[2018-05-16 12:49] bravehamster commented on #295
Hopefully Andrei can chime in on this one as I can't speak for the dev team.

We haven't done any benchmarks yet to be able to suggest proxies over packed geometry, or alembics, or the instancer. It goes straight on my to-do list, though. Thanks !

[2018-05-16 13:41] ronald-a commented on #295
@bravehamster from a user standpoint I can say that everything that is as native as possible - meaning works like with mantra - is preferred. I think that even with vray for houdini being released at some point, people will still also be using mantra for a lot of things because of the tight integration and strengths of mantra (I know we will). so keeping workflows similar would be a great advantag

[2018-05-16 13:52] bravehamster commented on #295
Yup, we've been trying to stick to a Houdini workflow. If you notice anything out of the ordinary or got any suggestions - feedback is more than welcome.

[2018-05-18 12:41] Dentzz1 opened #296 "UV texture data"
Did the way of passing UV data from houdini to vray change? I don't see any mapping outputs on something like channel_named which I think existed on the pre 4.x version. Not sure if I did something wrong, this is being worked on to make a better system or there is a different way to do this.

[2018-05-18 12:48] Dentzz1 opened #297 "GPU not rendering materials"
When trying to map a checker texture or use fastsss materials would show up with CPU rendering but not using the GPU render. Is there work being done with the GPU render and this might not be working for awhile or is this just some bugs? Looking at the max  documentation sounds like there was a lot of overhaul  on GPU rendering and change of UI.

[2018-05-19 14:28] Eiken opened #298 "Linux Builds"
Adding an issue here instead of mailing support.

Is there any eta when linux builds might be available? We don't run houdini on windows.

[2018-05-21 11:14] bdancer commented on #296
Make sure you don't have env. variables pointing to the old plugin data (especially VRAY_UI_DS_PATH pointing to .ds files).

[2018-05-21 11:37] bravehamster commented on #296
Just to expand on this:

We added a new node called Image FIle that is basically a (Bitmap File + Bitmap Image + UVWGen Channel Named).

The UV nodes are still there under the tab menu -> V-Ray -> Mapping

[2018-05-21 11:40] bravehamster commented on #298
Hey, Eiken,
the dev team is fixing a few issues with volumetric rendering and also adding extra support for Alembics.
Once that's done, Andrei will get the Linux builds going again.
Sorry for the delay!

[2018-05-21 12:15] Eiken commented on #298
Awesome, looking forward to it :)

[2018-05-21 12:35] bravehamster commented on #297
The Checkered texture works with CUDA and OpenCL for me when applied to a V-Ray Material's diffuse - any chance you forgot to
1. add UVs to your geometry,
2. apply the material or
3. add UV Mapping to the Checkered texture's uvwgen slot at the bottom?

Regarding the SSS material - I'm actually getting a crash, possibly related to the drivers but will definitely investigate further and get back to

[2018-05-21 13:19] Dentzz1 commented on #296
@bdancer for the env variables I don't think I have it pointed to the old data but I easily could or have written something wrong in the environment variable.
 I do get some warnings like
C:/Vray4Houdini/ui/plugins/SettingsEnvironment.ds Error(1): Expecting open brace for script
 VFH [Error] Error parsing file: "C:/Vray4Houdini/ui/plugins/SettingsEnvironment.ds"!

@bravehamster The imageFile at le

[2018-05-21 13:35] bdancer commented on #296
This file "ui/plugins/SettingsEnvironment.ds" is now located in another place, so you probably have a lot of old files. Just remove the whole old plugin directly ("C:/Vray4Houdini") and unpack the archive again.

[2018-05-21 17:10] Dentzz1 commented on #296
Deleting all of the vray files and reinstalling seems to have cleared and fixed some things. Nodes look different so I assume they are now correct. Saying that, I'm now not exactly sure how or the order nodes are supposed to be put together.

[2018-05-21 17:17] Dentzz1 commented on #297
Clearing out and reinstalling vray fixed some of the issues. However if I don't have a uvw(channel named) applied on the cpu it renders out correctly.
![cpunouvgen](https://user-images.githubusercontent.com/22080153/40320154-ab081138-5cf8-11e8-8fa1-415c3923d7ae.jpg)
With the GPU it looks correct when doing a light cache but the final render doesn't work.
![gpunouvgen](https://user-images.githubuse

[2018-05-21 17:34] bdancer commented on #297
@Dentzz1 channel named + checker works fine for me both for CPU and GPU. Could you attach your scene?

[2018-05-21 19:11] Dentzz1 commented on #297
@bdancer [Checker.zip](https://github.com/ChaosGroup/vray-for-houdini/files/2023771/Checker.zip)

[2018-05-22 11:25] bdancer commented on #297
@Dentzz1 works fine for me, ok, I'll update build asap.

[2018-05-22 16:17] blented commented on #295
Big +1 for supporting native packed prim workflows.  Packed prims are literally the best part of Houdini, and like Ronald said you want to be able to pop a Mantra scene open, switch to VRay, and have it "just work".

[2018-05-22 16:17] dominik2608 commented on #298
+1 for me!!

[2018-05-22 16:18] dominik2608 commented on #295
So for me: +1!!!

[2018-05-22 16:32] bdancer commented on #295
That was a bug that's already fixed, I'll upload new build asap.

[2018-05-25 18:27] Dentzz1 commented on #297
@bdancer Cool look forward to the new builds and posting the nightlies, so I'm not commenting on things that have already been fixed.

[2018-05-29 12:39] bdancer commented on #293
There is a "Color Space" control added. Works only when file path is selected. If node is selected (with op:/) then settings from that node will be used.

[2018-05-29 12:39] #293 closed

[2018-05-29 12:39] #294 closed

[2018-05-29 12:39] #292 closed

[2018-05-29 12:40] #291 closed

[2018-05-29 12:43] bdancer commented on #289
@dominik2608 this should work now, but you'll have to use V-Ray textures. There is a "User Integer" texture that you could along with:
1.  Multi material to drive material selection.
2.  Mutli texture to drive texture selection.

[2018-05-29 12:43] #289 closed

[2018-05-29 12:43] #279 closed

[2018-05-29 12:45] #261 closed

[2018-05-29 12:50] bdancer commented on #288
Seems to work now. At least with recent 16.5.

[2018-05-29 12:50] #288 closed

[2018-05-29 12:52] #287 closed

[2018-05-29 12:53] #12 closed

[2018-05-29 12:54] #13 closed

[2018-05-29 13:11] #21 closed

[2018-05-29 13:20] bdancer commented on #30
We don't use this approach in vfh, you may think of this as always "Auto".

[2018-05-29 13:20] #30 closed

[2018-05-29 13:20] #25 closed

[2018-05-29 13:43] #10 closed

[2018-05-29 13:44] #81 closed

[2018-05-29 13:45] #42 closed

[2018-05-29 14:21] bdancer commented on #40
Closing as duplicate of #57.

[2018-05-29 14:21] #40 closed

[2018-05-29 14:38] bdancer commented on #150
Texture path now supports both "op:" and file path.

[2018-05-29 14:38] #150 closed

[2018-05-29 14:38] #290 closed

[2018-05-29 14:39] bdancer commented on #143
Well, yes, it's kinda just builds stuff that is in git...

[2018-05-29 14:39] #143 closed

[2018-05-29 14:40] bdancer commented on #145
Yes, those properties are exported internally as MtlWrapper.

You could plug it as material.

Anyway, there is a toolbar button for adding object properties now.

[2018-05-29 14:40] #145 closed

[2018-05-29 16:09] #147 closed

[2018-05-29 16:58] #45 closed

[2018-05-29 17:00] bdancer commented on #71
1. ExtraTex + User color / float / integer.
2. Cryptomatte
3. Object properties has "Object ID" + "vray_objectID" attr on primitives.

[2018-05-29 17:00] #71 closed

[2018-05-29 18:46] bdancer commented on #68
Fixed with https://github.com/ChaosGroup/vray-for-houdini/commit/86958cddaa81a3b0ab58e75ada030844a88c453f. LightLinker is already supported. Not sure about LightBank, need to check how it affect light/object parameters.

[2018-05-29 18:46] #68 closed

[2018-05-29 18:58] bdancer commented on #73
Use "V-Ray User Float".

[2018-05-29 18:58] #73 closed

[2018-05-30 08:55] Eiken commented on #298
Saw a build yesterday but seems to always crash on render. I'll keep a look on new once showing up.

[2018-05-30 10:41] dominik2608 commented on #298
+1, immedate crash with IPR or Production

[2018-05-30 11:55] bdancer commented on #298
@Eiken @dominik2608 sry for that, checking...

[2018-05-30 12:14] dominik2608 opened #299 "Echo Core Version"
Hi Andrei,

would it be possible to echo the vray core version for example in the console beside the build number.
Would maybe help differentiate between all the nightlies...
Or is there a way to query that?

thx
Dominik

[2018-05-30 12:29] bdancer commented on #299
It's already there:
[code]

[2018-05-30 12:29] #299 closed

[2018-05-30 12:33] dominik2608 commented on #299
Ah, sorry - I was looking on an older build - ok, then close that ...!

[2018-05-30 12:35] #196 closed

[2018-05-30 12:38] bdancer commented on #298
@Eiken @dominik2608 what's your Houdini version? Does it match the one in the archive version?

[2018-05-30 12:44] Eiken commented on #298
Yeah I downloaded and installed just to test

[2018-05-30 12:48] bdancer commented on #298
@Eiken there is a new build uploaded. I've tested some simple scenes - seems to not crash.

[2018-05-30 14:00] dominik2608 commented on #298
thx Andrei, I'll test little later today!

[2018-05-30 15:49] Dentzz1 commented on #297
Using the latest build "channel_named" uvwgen I think works for both CPU and GPU and can use that to change size and repetitions on the pattern :-). If uvwgen isn't mapped I'm not sure at all what is being generated by the CPU or GPU but looks like it has the same results as before. Not sure what each render engine is using to generate procedural texture in space and why there is a difference betw

[2018-05-30 15:49] Eiken opened #300 "Segfault when closing Houdini while IPR is running"
If I open attached hip file and go to Render View and the dont stop the Render View when closing i get a segmentation fault. If I stop the render before closing it closes without error.

Crash log:
[code]

[test_vray.zip](https://github.com/ChaosGroup/vray-for-houdini/files/2054652/test_vray.zip)

[2018-05-30 15:50] Eiken commented on #298
Could reproduce it so made a seperate issue.

[2018-05-30 15:54] Eiken commented on #300
Running:
Vray for houdini vfh-a4b5521
Houdini 16.5.473
CentOS Linux release 7.5.1804 (Core)

[2018-05-31 11:26] dominik2608 opened #301 "No mantra beside vray"
Hi Andrei,
maybe it's on my side, but if I try to render on Linux in a fresh scene started with vfh-a4b5521 build's shell script (and with my own customized one, too), I can't render with mantra. I get the following:

[code]

[2018-05-31 11:52] bdancer commented on #301
Well, seems there is smth with the environment variables. @bravehamster could you pls check this?

[2018-05-31 12:00] #298 closed

[2018-05-31 15:45] dominik2608 commented on #301
It's LD_LIBRARY_PATH
still figuring out what's exacly inside the variable causing the issue

[2018-05-31 16:23] #57 closed

[2018-05-31 16:23] #54 closed

[2018-05-31 16:30] #52 closed

[2018-05-31 16:30] #60 closed

[2018-05-31 16:31] bdancer commented on #153
"Light Linker" panel support is added.

[2018-05-31 16:31] #153 closed

[2018-05-31 17:28] #137 closed

[2018-05-31 17:29] bdancer commented on #130
Use "Channel (named)" and enter desired uv attribute name.

[2018-05-31 17:29] #130 closed

[2018-05-31 17:32] #295 closed

[2018-05-31 17:33] #239 closed

[2018-05-31 17:35] #74 closed

[2018-05-31 17:36] #180 closed

[2018-05-31 17:37] #158 closed

[2018-05-31 17:38] #181 closed

[2018-05-31 17:38] #183 closed

[2018-05-31 17:38] #168 closed

[2018-05-31 17:39] #175 closed

[2018-05-31 17:39] #169 closed

[2018-05-31 17:39] #170 closed

[2018-05-31 17:40] bdancer commented on #170
@StrobFX,  use $F in the export file name and it'll export files per-frame.

[2018-05-31 17:40] #122 closed

[2018-05-31 17:41] bdancer commented on #106
$F is supported now.

[2018-05-31 17:41] #106 closed

[2018-05-31 17:41] bdancer commented on #164
This is reworked now.

[2018-05-31 17:41] #164 closed

[2018-05-31 17:42] #133 closed

[2018-05-31 17:47] #99 closed

[2018-05-31 17:59] dominik2608 commented on #301
Seems, that Mantra kinda doesn't like LD_LIBRARY_PATH set by the .sh

[2018-06-01 11:51] bdancer commented on #301
@rafalSFX any ideas?

[2018-06-01 14:53] #98 closed

[2018-06-01 14:54] #148 closed

[2018-06-01 14:55] #154 closed

[2018-06-01 14:55] #93 closed

[2018-06-01 15:00] bravehamster commented on #301
Hey @dominik2608 , no matter what I do, I can't replicate the issue here.

Would you mind pasting the output of *echo $PATH* and *echo $LD_LIBRARY_PATH* from the Textport window in Houdini ?

[2018-06-01 16:28] dominik2608 commented on #301
Of course:
PATH:
/opt/hfs16.5.473/bin:/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8ce/appsdk/bin:/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8ce/vfh_home/bin:/opt/hfs16.5.405/bin:/opt/hfs16.5.405/houdini/sbin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/home/dominik/.local/bin:/home/dominik/bin
LD_LIBRARY_PATH:
/opt/hfs16.5.473/dsolib:/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8c

[2018-06-01 16:49] bravehamster commented on #301
Hey @dominik2608  , here's my output and yours together (I've stripped the last 5 lines of the PATH var).

[code]

Do you happen to have something in your houdini.env file in /home/*yourUserName*/houdini16.5 ? If so, try renaming the file to *asd_houdini.env* and running V-Ray from the script again.

[2018-06-01 17:03] bdancer commented on #301
@dominik2608  node sure it'll help but anyway note that 405 is used instead of 473 here `/opt/hfs16.5.405/bin:/opt/hfs16.5.405/houdini/sbin`.

[2018-06-01 17:49] dominik2608 commented on #301
I'll check!

[2018-06-02 17:37] dominik2608 commented on #301
Hm, still no luck.
I had indeed installed .405, but couldn't find anything setting .405 in LD_LIBRARY_PATH.
So I removed .405 and get this in both VARIABLES:
$PATH:
/opt/hfs16.5.473/bin:/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8ce/appsdk/bin:/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8ce/vfh_home/bin:/opt/hfs16.5.473/bin:/opt/hfs16.5.473/houdini/sbin:/opt/hfs16.5.473/bin:/opt/hfs16.5.473/h

[2018-06-04 09:40] bravehamster commented on #301
Hm, alright. What is the output of those 2 variables when you start Houdini on its own ?

I see that */opt/hfs16.5.473/python/bin:* and */opt/hfs16.5.473/python/lib:* are missing in your case. Could that be the reason for the mantra issues? I tried replicating this last Friday and got Python errors from the Mantra node - not the same as yours but I couldn't render with Mantra nonetheless.

[2018-06-04 10:52] dominik2608 commented on #301
I'll give it to you this evening, as soon as I am at home

[2018-06-04 18:07] dominik2608 commented on #301
Ok,
PATH:
/opt/hfs16.5.473/bin:/opt/hfs16.5.473/houdini/sbin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/home/dominik/.local/bin:/home/dominik/bin
LD_LIBRARY_PATH:
empty   ?!?

[2018-06-04 18:41] bdancer commented on #301
@dominik2608 what if you'll replace in `hbatch16.5.473.sh`:
[code]
with
[code]
?

[2018-06-04 19:22] dominik2608 commented on #301
Good point, I'll have that kind of in my own start script - but unfortunately it fails too:
$ '/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8ce/hfs16.5.473.sh'
The Houdini 16.5.473 environment has been initialized.
[2018/Jun/4:21:20:12] VFH |    Info| Loading Phoenix cache loader plugins from "/mnt/DATEN/vray_repo/V4H/16.5/linux/4/vfh-50ff8ce/vfh_home/libs"...
[2018/Jun/4:21:20:12] VFH |    Info|

[2018-06-05 18:28] dominik2608 commented on #301
Ok:
Solved it.
System language was **not** English...My bad...

[2018-06-06 12:34] ronald-a opened #302 "IPR update issues"
Not sure what the current status on the IPR is, but there is a lot of stuff not updating (for example pretty much everything shader related). Moving the camera, transforming objects, seems to work. changing parameter inside SOPs also seems to fail. the sop things did have issues from the beginning, because one could not add more SOP and vray would update accordingly (just like mantra does). But no

[2018-06-06 12:44] bravehamster commented on #302
Darn, IPR issues are so hard to track down as you need to sit there and test everything bit by bit. Time to go for another run I guess.
Thank you for reporting this, we'll look into it !

[2018-06-11 10:55] bdancer commented on #301
@dominik2608 thanks for finding the reason! @bravehamster pls add this info somewhere to wiki.

[2018-06-11 10:55] #301 closed

[2018-06-11 10:56] bdancer commented on #297
@Dentzz1 we'll merge Houdini specific textures GPU support soon, stay tuned.

[2018-06-11 11:17] bdancer commented on #302
@ronald-a shader updated (https://github.com/ChaosGroup/vray-for-houdini/commit/d0ca3d3cf19a4d62ad039891b2f38b85e229a003) and SOP updates (https://github.com/ChaosGroup/vray-for-houdini/commit/66248a03f72f7d1c40a070f90dfb1810bcbd2e31) should work now.

[2018-06-11 13:32] ronald-a commented on #302
@bdancer I suppose that this will be in tomorrow's build

[2018-06-11 14:47] bdancer commented on #302
@ronald-a I've uploaded new ones.

[2018-06-12 08:17] ronald-a commented on #302
@bdancer Shaders work, SOP updates still don't I'm afraid

[2018-06-12 08:59] Eiken opened #303 "Packed Instancing not always working"
1. Pack and instance in copy node. Renders but not as instances.
2. Pack before copy. Works
3. Packed Disk Primitive. Don't render at all

Attaching hip file with examples.
[dev_users_aleand_vrayPacked_aleand_v001.zip](https://github.com/ChaosGroup/vray-for-houdini/files/2093322/dev_users_aleand_vrayPacked_aleand_v001.zip)

[2018-06-12 11:33] bravehamster commented on #303
Thanks for reporting those!
I believe Andrei is currently working on the packed disk primitives support. I'll look into the copy sop issues and add test scenes.

Cheers

[2018-06-13 11:03] bdancer commented on #302
@ronald-a well this works for my scenes, could you post yours? May be some particular dependencies should be added... SOHO thing is very tricky...

[2018-06-13 11:04] bdancer commented on #303
1. Should work better now, still a bit slower export then "2", will check it later (https://github.com/ChaosGroup/vray-for-houdini/commit/44e4c1592b0d47c09e7dc290afbebaad87695ff8).

3. Should work now (https://github.com/ChaosGroup/vray-for-houdini/commit/1389087afc429ae5955cce59e9e7e2d6e61e9c23).

[2018-06-13 13:02] ronald-a commented on #302
@bdancer well nothing special here. created a torus. added a light/camera. hit ipr. changed the "rows" on the torus sop -> no update

[2018-06-13 13:16] bdancer commented on #302
@ronald-a
![vfh_ipr_sop](https://user-images.githubusercontent.com/319784/41353543-269130f8-6f25-11e8-8972-067356f50e8f.gif)

[2018-06-13 13:31] ronald-a commented on #302
@bdancer hmmm... ok. this does not work here... also I am rendering with the vray vfb not in the houdini renderview (not sure if that does make a difference). How did you get vray to output into there?

[2018-06-13 14:03] ronald-a commented on #302
@bdancer Wait, got I got it. So what happend was that I always push the RenderRT Button in the shelf which does not create a vray ipr node but a normal vray render rop. This will also not show up in the dropdown in the renderview. with the vray ipr rop rendering in the renderview, SOP updates work (so there is still some sort of issue when using the "normal" vray render rop with the vfb but I can

[2018-06-13 14:40] bdancer commented on #302
@ronald-a IPR and "Render RT" are completely separate modes. I'll check "Render RT".

[2018-06-14 07:41] ronald-a commented on #302
@bdancer may I ask what the reason for the two different nodes is? from a user standpoint this doesn't seem to make sense especially when knowing that with mantra ipr/final renders can come from the same rop (and I use that fact when working with mantra all the time).

[2018-06-14 15:42] Eiken commented on #303
Great! Confirmed working here as well

[2018-06-15 09:55] bdancer commented on #302
@ronald-a we are still investigating with @rafalSFX how to make my custom ROP_Node (VRayRenderer) to work with SOHO IPR. Once we'll figure it out there will be only one node. The issue comes from the fact the SOHO IPR is implemented through Python.

[2018-06-15 09:55] #303 closed

[2018-06-18 16:04] #104 closed

[2018-06-19 10:31] ronald-a commented on #302
@bdancer I understand. Please let me/us know when these changes have been made. meanwhile I will test other areas of vray4houdini to see if I can break something there ;-)

[2018-06-19 10:39] bdancer commented on #302
@ronald-a Actually I'm thinking of leaving IPR ("Render View") only and remove RT button...

I'm sure you could =)

[2018-06-26 15:38] ronald-a opened #304 "licensing issue"
hey,

I suddenly have a licensing issue with vray for houdini. it show the following error message once I try to render something:

[2018/Jun/26:17:33:16] VFH [Error] Error initializing VRay::VRayRenderer instance: There are no available licenses of this type on the ChaosGroup License Server.

On the license server I can see that one v-ray next app sdk license is engaged once i hit the renderbutto

[2018-06-26 17:29] bdancer commented on #304
Current V-Ray for Houdini versions require:
1. V-Ray 4.x (Next) Render Node license
2. V-Ray AppSDK 4.x license

[2018-06-27 22:33] mdelosrios commented on #266
I'm jumping in to ask what the status for this is?

Are there any instructions for a windows environment on rendering yeti caches?

I see that there is a node called V-Ray VrayPgYeti that allows you to load yeti caches, however when I try to render it errors complaining about "Invalid plugin class name error"

I have pointed out the env variable VRAY_PLUGINS_x64 to where the vray_pgYetiVRay.dll li

[2018-06-28 11:21] bdancer commented on #266
@mdelosrios you should ask Yeti is they support V-Ray Next.

You have to use VRAY_FOR_HOUDINI_PLUGINS variable for Houdini.

Mean this versions is not V-Ray 4.x compatible.

[2018-07-02 10:22] bdancer commented on #266
Yeti guys are working on Next support so you should be able to render soon.

[2018-07-02 13:41] ronald-a commented on #304
@bdancer So this is still not working. vray4houdini seems to pick up the AppSDK license but not the rendernode license. it test the licenses with maya and out of process ipr (which uses a rendernode lic) and everything seems to work. I don't recall changing anything on the houdini side (except installing a new dot release, but it doesn seem to work with the old version either). how exactly does vr

[2018-07-02 13:49] bdancer commented on #304
V-Ray for Maya Next? 4.x?

[2018-07-02 13:50] bdancer commented on #304
@ronald-a  better write to support and they will sort it out.

[2018-07-02 13:51] ronald-a commented on #304
@bdancer yep, v-ray for maya next beta. Ill check with support.

[2018-07-02 21:30] mdelosrios commented on #266
Perfect! Thanks for the heads up!

[2018-07-03 09:14] ronald-a commented on #304
@bdancer fyi: support fixed the problem. it seems that newer builds of vray4houdini need a proper commercial lic and can not be run with a vray4 beta lic.

[2018-07-03 11:15] #304 closed

[2018-07-03 23:05] mdelosrios opened #305 "Vrscenes from Maya"
Hi,

I am having an issue where I create a vrscene in Maya, I import it in Hou, render it, and it doesn’t look identical to the one from Maya.

Some of the issues are:
- motion blur doesn’t match
- noise doesn’t match
- SSS doesn’t match
- Alpha filtering doesn’t match (if I turn Off filtering the the alphas match to the pixel)

Also I noticed that if I export this as a vrscene the link to the ori

[2018-07-03 23:59] bravehamster commented on #305
No, it's likely a bug. I need to test vrscene import extensively as rendering Maya / Max VRScenes in Houdini is incredibly important to the people we've spoken to.
Thanks for the feedback, I'll check those ASAP. Sending us the Maya file or the vrscene would be huge help, if possible.

[2018-07-04 13:11] bdancer commented on #305
Render settings are never imported from the *.vrscene file.

Are settings the same?

Are settings the same? Is V-Ray version the same as in Maya (some latest 4.x) ?

That's a bug, VRayScene is not even a geometric node.

[2018-07-04 13:19] bdancer commented on #305
Exports perfectly fine for me:

[code]

[2018-07-05 16:32] mdelosrios commented on #305
I have made sure the render settinng are identical. We are trying to make sure we can recreate renders down to the pixel from Maya in Houdini.

Also, I tried a new scene exporting the vescene and this time it exported it correctly, so there is something in my scene preventing it from export it.

If you don’t mind, could you email me at mdelosrios@zoicstudios.com so we can prepare a scene to send y

[2018-07-05 16:51] #286 closed

[2018-07-05 17:16] bdancer commented on #305
@mdelosrios done, you should have an email from me.

[2018-07-07 02:43] blented opened #306 "Slow export of packed objects"
First off this has improved a TON compared to older versions, but I'm hoping we can get even faster.

We're looking for similar performance to the VRay Instancer inside of 3dsMax.  There you can instance 100k cars on to particles without breaking a sweat.

This scene is 100k medium poly trees scattered on a terrain.  The scene _does_ export and render, it just takes about 5-7 minutes to generate t

[2018-07-09 01:03] derbader opened #307 "Volume Rendering"
Hi All,

I am sorry if this has been already solved, but what is a good way to render volumes in vray. Not necessarily Pyro. If I follow the tutorial I get the error message

unsupported VDB file format (expected version 223 or earlier, got version 224)

and no volume renders. Same issue with the example scene.

Thanks

[2018-07-09 08:10] bravehamster commented on #307
Hey @derbader , we have a tutorial on this that's terribly out of date: https://github.com/ChaosGroup/vray-for-houdini/wiki/Phoenix-Shader

The VDB message is not a problem, ignore it.
The other thing you need to do that diverges from the tutorial is to
1. drop a V-Ray Material Output node,
2. connect the Volume Grid Shader to the Simulation input swatch and
3. assign the Material Output to your G

[2018-07-09 08:16] #228 closed

[2018-07-09 08:17] #215 closed

[2018-07-09 09:34] ronald-a opened #308 "pscale attribute interpretation"
Hey,

I found this a while back and it's still in the current builds so:

it seems that vray interprets the pscale/width attribute as radius rather then diameter (which is what houdini/mantra does) so every point/polyline/hair.... has twice the thickness it should have.

Cheers,

Ronny

[2018-07-09 11:03] ronald-a commented on #306
i second that (also for maya). it does work a lot faster if you feed vrproxies to you copy node (etc.) but that is not a very convenient workflow.

[2018-07-09 11:46] bdancer commented on #306
@ronald-a that's a regressing from the recent changes in exporting particles. I'll fix this.

[2018-07-09 13:20] bravehamster commented on #216
hey @blented , thank for the feedback !

Regarding Bad news: points number 2 and 3 - the expression on the transforms was $F - settings this to $FF resolved the problem for me. Initially, I thought it's on our end but Mantra produces the same result as V-Ray for me when using $F.

I also wanted to ask for your opinion on the following -- the Geometry nodes have a checkbox called Geometry Velocity

[2018-07-09 13:54] derbader commented on #307
Thank you so much! Got it working. Perfect.

[2018-07-09 16:29] blented commented on #216
That's great! Apologies for the mistake on my end, glad it was an easy fix.  I updated the test scene and now get motion blur for everything but the packed object :)

https://drive.google.com/file/d/1AFLmjI0fAJ88nN0J3I5hEqZfecthNy0n/view?usp=sharing

I feel it would be good to support the Geometry Velocity Blur option, there are definitely cases where you want to explicitly specify "v" as opposed

[2018-07-09 17:30] bdancer commented on #216
Yes, that's pretty easy to add. I'll enable it right after slow packed export...

[2018-07-09 21:21] jonmoore1 commented on #302
Apologies been stuck in Katana land in recent months so only just got round to getting VR4 set up in H.

Ref IPR, I like that IPR functions with render regions and in the Render View. Houdini has a lot similar tricks to the VFB and interactive rendering makes most sense in the GL viewport or Render View.

However sometimes it's nice to have the VFB's extra features available even when working in i

[2018-07-10 14:54] bdancer commented on #306
@blented
* 100K - 3 sec
* 200K - 6 sec
* 1M - 30 sec

I'll upload new builds soon, hope I haven't broken anything else.

The issue comes from the stylesheet support and the possibility to override stuff on the mesh itself so I have to pre-process (and cache) stuff down to poly-level for every packed instance. Not sure if I could make it faster, but may be I'll come with the better idea once =)

[2018-07-10 15:00] bdancer commented on #306
@bravehamster could you pls test this?

[2018-07-11 09:23] ronald-a commented on #306
superfast!

[2018-07-11 11:46] ronald-a commented on #306
I have to revert my previous post. it is a lot faster in simple situations (for example copying a 2500 poly torus onto 300.000 points). but when the instanced geometry gets heavier (I have a tree here with around 3 mil polys) it starts to get really slow again. using the old vrproxy trick is fast though

[2018-07-11 11:49] ronald-a opened #309 "vray sun & sky"
Hi,

I am not sure if I am doing this correctly, but if I want vray sun an sky do I need to creaty a vray sun plus a domelight with a vray sky texture applied to it? In Maya the sky is an environment override, but I can't seem to find these overrides in houdini.

[2018-07-11 12:06] bdancer commented on #309
There is a node called "V-Ray Environment". Create it and select it in "Environment" in V-Ray ROP.

[2018-07-11 12:07] bravehamster commented on #309
hey @ronald-a ,
the environment is in a separate node in /out called V-Ray Environment which you can plug into your V-Ray Renderer ROP (right at the top, below the camera controls)
You can drop a Sky texture there and pipe it in. It should be able to automatically find the sun in your scene and behave according to its orientation but you have the option so specify a sun node manually in case you'v

[2018-07-11 12:47] ronald-a commented on #309
@bravehamster Nice, two suns with two skylight environments - that doesn't work in maya. And while we are at it -  what about environment fog? I tried to put a fog node into the environmet rop node but that didn't anything.

[2018-07-11 12:53] bdancer commented on #306
@ronald-a ok, I've found the issue. Will update builds.

[2018-07-11 12:54] bdancer commented on #309
@ronald-a sry, environment fog is not yet implemented.

[2018-07-11 13:53] bravehamster commented on #309
Doesn't work yet - I've avoided bugging Andrey about this as it's quite easy to make a large VDB from a box and use the VolumeGrid shader to render it. My thinking was that you can apply noises to a VDB while the Fog is uniform everywhere so it's really not worth investing time into.

As far as I know, the Fog doesn't provide any feature or performance advantages over this method. If you can think

[2018-07-11 14:04] ronald-a commented on #309
@bravehamster absolutly. I'm just reporting/asking stuff as I go. and env fog is really at the bottom of my list, so no worries.

talking about features: are there any major features missing now from the implemenation because I would really like to know how far we are away from a shipping product in your opinion.

[2018-07-11 14:09] bravehamster commented on #309
Off the top of my head - rendering of native volumes (so you don't have to export to VDB -> bring back with Volume Grid Cache) and support for per-primitive textures.

[2018-07-11 14:14] ronald-a opened #310 "adaptive domelight renderartifacts"
Hi,

I just stumbled over this one. Simple scene, (plane, torus) plus a domelight set to adaptive. rendering with default settings gives weird noise, turning min shading rate to 64 shows bucket artefacts (see attached scene.

the "same" setup in maya seems to be fine.

[vray4_adaptive_domelight_issues.zip](https://github.com/ChaosGroup/vray-for-houdini/files/2184837/vray4_adaptive_domelight_issues

[2018-07-11 14:41] ronald-a commented on #310
wait, there is the same issue in maya.

[2018-07-11 14:49] bdancer commented on #310
@ronald-a could you post the render you're getting? Seems to work fine for me.

[2018-07-11 14:55] ronald-a commented on #310
@bdancer sure
![domelight_artifacts_shadow](https://user-images.githubusercontent.com/38972966/42580617-4033d972-852b-11e8-8e5d-72e19ce6252a.jpg)
![domelight_artifacts_beauty](https://user-images.githubusercontent.com/38972966/42580619-408b4a54-852b-11e8-8cc9-1c283e26fe34.jpg)
![domelight_artifacts_gi](https://user-images.githubusercontent.com/38972966/42580622-414feb20-852b-11e8-9c07-b6c84ec4c117

[2018-07-11 14:56] ronald-a commented on #310
@bdancer btw. the beauty pass has added contrast to see the artifacts better

[2018-07-11 15:07] bravehamster commented on #310
I'm not sure this is a bug tbh, I'll ask the dev team and get back to you.

Here's the difference between the Maya and Houdini renders:

![diff](https://user-images.githubusercontent.com/20627168/42581381-4af16d5c-8535-11e8-9b9d-1521d60ff68d.jpg)

It's basically the noise only.

[2018-07-11 15:12] ronald-a commented on #310
@bravehamster but the blockiness can't be right, especially because it is not there when adaptive domelight is turned off. I did post this also in the vray for maya beta forum.

[2018-07-11 15:14] bravehamster commented on #310
Alrighty, please do.
Since the Adaptive Dome is an optimization, my guess is this is a side effect.
Looking at the Render Elements from Maya, the blockiness comes from the Lighting pass.

![lgt_element lighting](https://user-images.githubusercontent.com/20627168/42581812-47140266-8536-11e8-903e-d57e43180128.png)

[2018-07-11 15:52] blented commented on #268
@bravehamster it seems the example file you posted no longer works in the latest builds, could we perhaps get an update?  Though a better solve would definitely be to just implement the transform on the light dome.

[2018-07-11 16:11] blented opened #311 "Dome Light Brightness Difference"
There's a noticeable difference in brightness between Maya and Houdini for a simple scene w/ a dome light.  (VRay also isn't rendering the alembic correctly, which I'll bug separately)

![houdini](https://user-images.githubusercontent.com/1403171/42585339-2d74eb14-84ea-11e8-9250-d02661a19b92.png)
![maya](https://user-images.githubusercontent.com/1403171/42585342-2e3cb202-84ea-11e8-978d-cce194ab9ca

[2018-07-11 16:13] blented opened #312 "Alembic mismatch between viewport and render"
VRay isn't rendering a simple Alembic exported from Maya correctly, though it displays correctly in the viewport.

VRay: vfh-1cd16ad

Example file w/ maya + houdini scenes and alembic:
https://drive.google.com/file/d/1E69Hh9heOYj-Qp37H7tRFf3LfnOQ1TzY/view?usp=sharing

[2018-07-11 16:16] bravehamster commented on #268
Yup, it was fixed at one point and broke during the transition. It's already logged.
Cheers!

[2018-07-11 16:31] bravehamster commented on #312
Interesting ... when using the Alembic SOP, everything looks correct.
Apparently, the Alembic Xform is not taken into account.
Thanks!

[2018-07-11 16:46] bravehamster commented on #311
@bdancer , I'll look into this

[2018-07-12 10:56] bdancer commented on #311
Also you'll need to match units: Maya's default is "cm" (resulting SetttingsUnitsInfo::meters_scale=0.01), while Houdini is "m" (meters_scale=1.0).

[2018-07-12 15:47] bdancer commented on #309
@ronald-a closing this?

[2018-07-12 16:05] ronald-a commented on #309
yep

[2018-07-12 16:12] #309 closed

[2018-07-12 16:14] bdancer commented on #216
@blented should work in the next build even without "v". To use "v" enable "Geometry Velocity Blur" ("geo_velocityblur").

[2018-07-12 17:56] blented commented on #306
Lightning fast, so so good <3

[2018-07-12 17:56] #306 closed

[2018-07-12 18:03] bdancer commented on #312
Should work correctly now.

[2018-07-12 18:03] bdancer commented on #308
Should work fine now.

[2018-07-13 09:46] ronald-a commented on #308
@bdancer yes, that works perfectly now, i just figured out that the width in the hair properties is also doing it "the wrong way".

also on a different note I am wondering why vray is rendering a polylines smooth all the time - and - not smooth when hair properties are applied. I would expect it to be the other way around.
And vray renders open curves with some sort of round cap on one end of the

[2018-07-13 11:55] ronald-a opened #313 "various lights issues"
here are a couple of issues with lights:

1. the direct light has some weird cutoff that makes it position dependent (see attached scene)
2. every light should have a default shadow bias of 0.01 - 0.02 to avoid artifacts (take a close look at the sphere in the scene when the direct light is on)
3. when turning off "dome spherical", not the lower half of the dome sphere is turned off (-y) but the s

[2018-07-13 12:18] bravehamster commented on #313
1. We're using the LightDirect plugin instead of the MayaLightDirect. It also causes V-Ray to hang when rendering volumetrics for some reason. I've already logged this in hopes it will be replaced with MayaLightDirect.
2. Good note, I'll do it, Thank you!
3. I'll log this, thanks for cathing.
4. This should work in the latest nightly. I think the changes were pushed yesterday so if it doesn't, wai

[2018-07-13 12:47] ronald-a commented on #313
@bravehamster I tested this on the latest nightly. if 4. was pushed yesterday (and it doesn't work btw) maybe this is the reason 3. happened. seems somehow related.

[2018-07-13 13:55] bravehamster commented on #313
Dome light rotation works for me with the latest nightly, maybe you've got an environment file pointing to a different build?

[Here's a video](https://drive.google.com/file/d/1ur8Oy6vN8qo1HlgUHmqZ6vkm4SL8UqK4/view?usp=sharing)

[2018-07-13 14:31] ronald-a commented on #313
@bravehamster you are absolutly right. no idea why i had the impression it did not work.

[2018-07-17 13:09] ronald-a opened #314 "ipr stability"
Hi,

it seems that the ipr's stability is not at it's best right now. i'm getting a lot of freezes lately. Not sure if it is because it is being worked on, but I just wanted to make you are aware of it.

normal production rendering is fine though.

[2018-07-18 09:00] simonrainerson opened #315 "vdb rendering, houdini crashes when finished"
When I render a vdb houdini crashes after the render is complete. The exr is saved and looks fine. In the crash report it looks like libHoudiniUI.so is in trouble. Attaching a crash report and a scene that crashes for us here (tested on two computers).

CentOS Linux release 7.4.1708 (Core)
Houdini FX 16.5.473
vrayHoudiniVersion: vfh-3228c2b

[crash.simple_density_ball.sira_6289_log.txt](https://gi

[2018-07-25 00:16] blented commented on #254
This seems broken again, selecting a region to render causes the whole image to start rendering again.

Tumbling the camera with a region active renders the whole image not the region.

[2018-07-25 19:40] #312 closed

[2018-08-06 13:08] Eiken commented on #300
This works now in more recent builds. No more crash

[2018-08-06 13:17] #300 closed

[2018-08-07 12:51] bdancer commented on #216
I hope this is resolved finally:
![issue_216 instancer_mb](https://user-images.githubusercontent.com/319784/43776816-b7cad6be-9a59-11e8-8dcb-a7eeb2879d7e.png)

[2018-08-07 12:58] bdancer commented on #314
@ronald-a IPR initialization was completely rewritten and should be much faster now and correctly detect "Stop" action. However, we're still working on better changes tracking.

[2018-08-09 17:41] Eiken commented on #315
Guess this is the reason

[2018-08-09 20:39] bravehamster commented on #315
Hey Erik, we're having troubles with the App SDK on Linux which VFH is based on. Andrei has been looking into possible solutions so this should be fixed soon. Just FYI, the crash is not present when exporting vrscenes or rendering with Standalone.

On 9 Aug 2018 20:41, Erik <notifications@github.com> wrote:

In beta 1, volume rendering on macOS and Linux is not supported yet.

Guess this is the re

[2018-08-11 04:02] singhs-apps opened #316 "Vray for Houdini Indie on The mac Installation issues"
Hello,

Does anybody have a proper step by step for installing and running Vray or Houdini Indie on the mac?

I copied the env text into the houdini.env (for V16.5.473)  file as follows :
[code]

I can see the Vray nodes ( some of them )
I cannot see the Light nodes
The Vray tool shelf gives the following errors if  click on any icon :
_AttributeError: 'NoneType' object has no attribute 'instances

[2018-08-11 07:29] bdancer commented on #316
Elements separator on Mac (and Linux) is ":" not ";".
Try this:
[code]

[2018-08-11 07:38] bdancer commented on #316
I'll fix the example .env file.

[2018-08-11 17:14] singhs-apps commented on #316
Hello
I realized that and changed ";"instances in the example env file to ":" but the issue persisted.

Will try again with the new example you posted here.

[2018-08-11 17:34] singhs-apps commented on #316
No Luck.

I moved the vray folder to applications and tried again with your example

RMANTREE="/Applications/Pixar/RenderManProServer-21.7"
PATH=$RMANTREE/bin:$PATH
HOUDINI_DEFAULT_RIB_RENDERER=prman

#OCL
HOUDINI_OCL_DEVICENUMBER = 1

# V-Ray for Houdini Begin
#
VFH_ROOT="/Applications/vray_adv_40303_houdini16.5.473"

VRAY_APPSDK="${VFH_ROOT}/appsdk"
VRAY_UI_DS_PATH="${VFH_ROOT}/ui"

VFH_HOUDINI_

[2018-08-11 19:00] bdancer commented on #316
@singhs-apps could you drop me an email at andrei.izrantcev@chaosgroup.com?

[2018-08-12 02:28] blented opened #317 "Crowd Support"
Any ETA on support for Houdini's packed agents?  VRay currently just errors saying invalid packed primitive.

Test scene:
https://drive.google.com/file/d/16tWmOc-qiu5CEw5MjlTBvGsMoQ31Km0l/view?usp=sharing

[2018-08-12 06:43] bdancer commented on #317
I'm not sure why are you getting this message because the code for packed agent primitive is there.
I'll check it on Monday.
The only thing that is not done yet is packed agent instancing. It's not trivial to obtain agent geometry and preserve instancing. However, @rafalSFX gave me some hint, so it'll be improved.

[2018-08-14 14:14] bdancer commented on #317
@blented Getting better...
![vfh_agents](https://user-images.githubusercontent.com/319784/44097030-78d1fa96-9fe5-11e8-9571-32e5981aac7e.png)

[2018-08-14 14:42] blented commented on #317
@bdancer yay! Instanced?? We find in production we can only generate about 300 unique crowd people before houdini gets tired, so we instance them to get a full stadium.

Also we'll be immediately using this on a job the second it's working in classic fashion lol.

[2018-08-14 14:46] bdancer commented on #317
@blented instance, but not totally corrected. I'm instancing details with the same clip time which is not correct in all cases.

[2018-08-14 14:47] bdancer commented on #317
@blented you could try nightly build tomorrow. Send me a scene as soon as it won't work as you need =) Style-sheets are also in progress...

[2018-08-14 21:22] MichaelWaisJr opened #318 "Installed Recent Houdini For V-Ray Beta. Can't Find V-Ray Shelf."
Hi all,

I installed the most recent Houdini for V-Ray beta. I ran hfs16.5.536.bat, which opens that version of Houdini just fine, but I can't for the life of me find the V-Ray shelf when I hit the "+" sign in Houdini.

I'm using Houdini Indie 16.5.536, if it matters, and I've downloaded the V-Ray for Houdini 16.5.536 version.

Can anybody please tell me what steps I may have missed in the install

[2018-08-15 01:06] #311 closed

[2018-08-15 01:13] blented opened #319 "rop.render() function not updating the frame to render"
The rop.render() function call for the vray_renderer node doesn't seem to update the frame to render when frameTuple is given as an argument.  To get it working on the farm we had to manually set the frame value for the scene each time a frame is rendered.

We worked around it, not a big deal at all, just not in line with the other rop nodes in Houdini.

[2018-08-15 06:59] bdancer commented on #319
Well, I'm not implementing this function, this is how Houdini is passing parameters to my node. @rafalSFX any ideas?

[2018-08-15 07:03] bdancer commented on #318
Hello, the main reason is that probably you have modified variables in your houdini.env (you may have it edited if you've installed any additional plugins to Houdini).

Make sure your variables in houdini.env are including environment variables.

I've posted some details here https://forums.chaosgroup.com/forum/v-ray-next-for-houdini-beta/v-ray-next-for-houdini-beta-problems/1006766-vray-beta-not-

[2018-08-15 07:11] bdancer commented on #318
If this won't help drop me an email at andrei.izrantcev@chaosgroup.com to organize some remote access.

[2018-08-15 22:37] MichaelWaisJr commented on #318
Thanks B! I'll give it a shot and e-mail you if that doesn't work. :)

[2018-08-17 06:50] ronald-a commented on #314
@bdancer just had a chance to look at beta 1 (because my nightlies access ran out) and IPR seems to be back to stable! I'll keep playing around with it and see how it behaves.

On a sidenote: is this forum here ending now that beta1 is out? should I get another nightlies access for the sake of giving fast feedback considering the speed at which you are implementing stuff?

[2018-08-17 07:02] bdancer commented on #314
Well, I don't wanna remove it, but it's better to keep stuff in one place.

Yes, sure you could request nightlies access back.

[2018-08-28 15:00] blented opened #320 "Support for Light Select"
As far as I can tell support for light select in render elements hasn't been implemented yet.

This one is pretty crucial, light selects + cryptomatte are pretty much the only passes we render anymore.

[2018-08-28 16:38] blented opened #321 "Alembic: abcframe intrinsic not working in VRay for Houdini"
There is a primitive intrinsic for Alembics in Houdini called abcframe, it lets you specify the animation frame in vops or vex for a given alembic file, super useful for procedural animation offsets.

It works in the viewport and in mantra but not in VRay.

Test scene:
 https://drive.google.com/file/d/13O0ti7Th9zDSQSReC4pFjPAj49QPff5r/view?usp=sharing

[2018-09-01 05:44] blented opened #322 "Deep EXRs not working"
The "Write Deep Data" checkbox is present in the VRay Render rop but the resulting EXRs do not contain deep data when read in to Nuke.

Scene:
https://drive.google.com/file/d/1xTVBY3RwO7hI3mD37Xb2-FjmQmR87NBb/view?usp=sharing

8/31 Nightly (vray_adv_40303_houdini16.5.496_947ab18_2752)
Houdini 16.5.496
Windows 10

[2018-09-01 05:45] blented commented on #322
Worth noting that as a workaround we're writing out .vrscene's in Houdini, importing them in Maya, checking deep, then rendering from there.  That works fine and saves the deep data as expected.

[2018-09-01 07:26] blented opened #323 "Unpacking VRScene not working as expected"
Vlado posted a very exciting video showing how vrscenes could be unpacked inside Houdini:
https://drive.google.com/open?id=1-111wk9llsoaJGmwhKWgBMctsucEsFLk

However it's not working as expected:
- no groups exists for objects or lights
- no object names
- no preview geometry aside from the rec light
- when you unpack the vrscene only the wireframe of the rec light is editable

Scene:
https://driv

[2018-09-01 07:28] blented commented on #216
Working perfectly ❤️

[2018-09-01 07:28] #216 closed

[2018-09-01 18:36] blented commented on #322
Workaround if you're exporting then rendering from VRay Standalone (which we are on Deadline)

Save this script on the network, then add it to the Post-Render Script field on the V-Ray Renderer rop and set the script type to python.

![image](https://user-images.githubusercontent.com/1403171/44948892-182f5b80-addb-11e8-8bf1-575b1520763c.png)

[code]

This will add ```  img_deepFile=1;``` to the vr

[2018-09-03 09:19] bdancer commented on #322
Fixed.

[2018-09-03 15:09] bdancer commented on #323
@blented could you attach the vrscene file?

[2018-09-03 15:37] blented commented on #323
@bdancer the example I uploaded generates one I believe (inside the render rop).

[2018-09-03 15:38] bdancer commented on #323
@blented ok, I've found the reason, I need to improve this case. Should work fine with vrscene exported from Maya.

[2018-09-03 16:28] bdancer commented on #323
@blented also you have to turn on "Expand Primitives"!

[2018-09-06 03:32] blented commented on #321
As a workaround you can load alembics via VRay Proxy and set the ```anim_offset``` intrinsic which works properly w/ VRay :)  Would still be great to get the regular alembic to work but much less of a priority given the workaround.

[2018-09-06 21:10] blented opened #324 "Camera Motion Blur Not Working"
It seems that camera motion blur isn't working, I'm trying to figure out what to switch on in the .vrscene so I can hack around it but the options within both the Physical Camera settings and the VRay Render Rop both don't seem to work.

Test file:
https://drive.google.com/file/d/1bUfcIOM_HsqHXaw4jCu8MLPkoTwiVVDG/view?usp=sharing

I'll post a solution here if I find one.

[2018-09-07 06:54] bdancer commented on #321
@blented it's fixed and will be available next week.

[2018-09-07 07:06] bdancer commented on #324
Will work in the next build.

[2018-09-07 13:26] ronald-a opened #325 "subdiv "generate" default setting"
Hey,

I just figured out, that the default setting in displacement properties for "generate" is "On the Fly" which is very slow. please default it to "Pre-Tesselated".

See attached File.

Cheers,

Ronny
[vray4_subdiv.zip](https://github.com/ChaosGroup/vray-for-houdini/files/2361179/vray4_subdiv.zip)

[2018-09-07 14:01] ronald-a opened #326 "Vray GPU settings missing"
Is seems that there are some settings missing in the sampler section when using vray gpu - specifically "noise threshold" and "GPU Rays per pixel".

Cheers,

Ronny

[2018-09-07 16:11] bravehamster commented on #326
@bdancer , I'll look into this

[2018-09-07 16:13] bravehamster commented on #325
@bdancer , I'll fix this

[2018-09-09 19:12] blented opened #327 "Crash // VRay Proxy Import with an invalid .ABC path"
1. Create a VRay Proxy Import node
2. Set the path to c:/nope.abc

Hard crash.  If an .abc is deleted the file becomes un-openable which is no fun.

Workaround is to start houdini in manual mode: ```houdini -n``` on the command line.

[2018-09-09 23:53] blented opened #328 "Lens Distortion from Texture"
Lens distortion from a texture (our primary workflow) does not work, it seems to render one pixel from the image.

FWIW it would be great if "wrap" was off on this texture by default as well.  We can turn it of in the place node in Maya but there are no options for it in Houdini as it's just a path.

Scene file w/ st map for distortion:
https://drive.google.com/file/d/1D_NYFqrh52F8I76s706VVB1Czvn2

[2018-09-10 08:28] bdancer commented on #327
I'll fix this, however it's highly recommended to use native Houdini nodes for Alembic files.

[2018-09-10 09:15] bdancer commented on #328
Not sure I got what the issue is:
![image](https://user-images.githubusercontent.com/319784/45288334-15c3b480-b4f3-11e8-84d5-920a65325ef4.png)

[2018-09-10 14:49] blented commented on #327
Gotcha, we were using the VRay Proxy in lieu of the abc_frame intrinsic working on the native Alembics, but glad to hear that's the preferred workflow.

[2018-09-10 14:59] blented commented on #328
Interesting, I just get a solid grey image:
![image](https://user-images.githubusercontent.com/1403171/45305539-62959400-b4cf-11e8-9205-c7667985350d.png)

Perhaps it's fixed in the last few days?  Nice to know that it's working on your end :)

[2018-09-10 15:06] bdancer commented on #328
@blented this code was not touched at all, check all file paths just in case.

[2018-09-10 15:14] bravehamster commented on #328
@blented , @bdancer  , I'm also getting a solid gray image. I'll look into this and open an issue if necessary.

[2018-09-10 15:37] bravehamster commented on #328
@bdancer , latest Standalone nightly renders the vrscenes correctly while the older one I had previously wasn't handling both the Maya and Houdini exports.

[2018-09-11 07:41] bdancer commented on #328
Ok, sounds like V-Ray Core update should solve this. Need to finish one review and we'll update it this week.

[2018-09-11 08:08] bdancer commented on #325
@ronald-a this should be already fixed in the nightlies.

[2018-09-12 15:43] blented opened #329 "Houdini 17 Builds"
Any chance we can get builds for Houdini 17?  We're considering using it on an upcoming job but a major factor would be bringing VRay along.

[2018-09-12 16:46] blented opened #330 "Filtering on by default for Light Select render element"
Without filtering the light select render element is stepped and doesn't "add up" properly in Nuke.

![image](https://user-images.githubusercontent.com/1403171/45440274-b25f9100-b670-11e8-93fe-609871812290.png)

[2018-09-12 16:53] blented opened #331 "Enabling a disabled light won't update in IPR"
Test scene:
https://drive.google.com/file/d/1ijgH-9cr9jli83JLrHL7Cq-MJWt6qZVO/view?usp=sharing

1. Start IPR
2. Enable blue or yellow light
3. IPR doesn't update to turn on the light

Works fine if the lights are enabled when you start IPR, then you can toggle them off and on as expected, but it would be great if it could work when you start IPR with them off as well.

[2018-09-12 16:53] bravehamster commented on #330
@bdancer I'll take care of this

[2018-09-12 16:57] blented commented on #328
Confirmed fixed, thanks as always @bdancer ❤️

[2018-09-12 16:57] #328 closed

[2018-09-13 13:09] bravehamster commented on #330
Alright, this should be fixed in tomorrow's nightlies. Cheers!

[2018-09-19 15:24] blented opened #332 "Materials with Subnet Input Connectors don't work"
It seems VRay nodes aren't correctly passed through Houdini's Subnet Input Connectors.  This is necessary in order to wrap materials in digital assets and still expose inputs like diffuse color to outside texture networks (ex: a triplanar or a regular texture).

Test file:
https://drive.google.com/file/d/1vqt-Y3ozoWXKW8gz9rks4-sM4B40sHV5/view?usp=sharing

[2018-09-19 15:34] blented opened #333 "shop_materialpath not being read for packed alembics"
Materials set at the primitive (polygon) level aren't being read when loaded back in as an alembic.  Once unpacked, the material assignment renders correctly.

Test file:
https://drive.google.com/file/d/1FyByUNhG1Su5ziTb185WPRxGgmz7ebzL/view?usp=sharing

[2018-09-20 09:06] bdancer commented on #332
I've added support for "subnetconnector" ("subinput" support was already there, not sure whats the difference between them), other types will need some research...

[2018-09-20 18:00] blented commented on #333
Copy, good to know, we'll adjust accordingly thanks!

[2018-09-20 18:00] #333 closed

[2018-09-20 18:01] blented commented on #332
That's fantastic!  Should have mentioned, we only need one method to work as they all accomplish the same thing, so subnetconnector is fine for us thanks :)

[2018-09-21 09:28] bdancer commented on #333
But you may try using it with "V-Ray Proxy" SOP along with "V-Ray Proxy Material".

[2018-09-21 09:49] simonreeves commented on #329
fyi I just saw this on the forum

I haven't tried it myself
https://forums.chaosgroup.com/forum/v-ray-next-for-houdini-beta/v-ray-next-for-houdini-beta-general/1009620-v-ray-for-houdini-beta-1-weekly-changelog?p=1011506#post1011506

[2018-09-21 11:16] bravehamster commented on #329
Hey, Houdini 17 builds are already in the nighlies section. Everyone in the Beta should have access to them by default.

[2018-09-25 15:44] #329 closed

[2018-09-28 20:56] blented commented on #332
@bdancer tested with 16.5.496_42cb348_2799 and couldn't get any of the ways working, can you confirm it's working with the test file on your end?  The rubber toy should be purple as it is if you assigned the bottom layered texture.

![image](https://user-images.githubusercontent.com/1403171/46233093-49da0a80-c326-11e8-8800-b458d5a2ab05.png)

[2018-09-28 21:05] #330 closed

[2018-09-28 21:07] #319 closed

[2018-09-28 21:18] blented opened #334 "Negative displacement values not working with texture-based displacement"
Displacement with negative values doesn't work via texture in the VRay Displacement properties

Test file has two geos, one with a texture plugged in and a second with a path to a vray image node, ex: "op:/obj/matnet1/height"

Test file (includes displacement map):
https://drive.google.com/file/d/1KHEmX9QMAZDhBWrTMeVWZHq8ka1UQd4-/view?usp=sharing

Right is correct, left has only positive displacem

[2018-09-28 21:26] blented opened #335 "Light select not including GI"
Like the title says, gi contribution not being included in light selects as it is in VRay for Maya.

Test scene:
https://drive.google.com/file/d/1oB5mGLo8_tLetkUQ1M97APDvp_t9rFGe/view?usp=sharing

[2018-09-28 21:31] blented opened #336 "Deformation or velocity motion blur not working on curves"
Points and geo w/ the same velocity blur correctly, but the curves don't.

Test scene:
https://drive.google.com/file/d/1QCyFiCWWQcWhJJpLH5M3YlxH9H5qoNYD/view?usp=sharing

[2018-10-01 09:14] bdancer commented on #332
@blented I think I've broken smth with new socket types conversion code... let me check...

[2018-10-10 19:08] blented opened #337 "World Point Position Pass"
The VRay Sampler Info node is missing Point World, which is needed in order to do a world-space position pass as a render element.  This is easily our comp team's favorite pass and we'd love to get it back :)

As a workaround for now, we're using 3 VRay Distance passes with distance from huge planes on each axis, which isn't at all ideal.

[2018-10-10 23:09] bdancer commented on #337
Isn't this the "point" output?
[code]

[2018-10-10 23:43] bdancer commented on #337
@blented while checking this i've fixed another issue so tnx =)

[2018-10-10 23:49] bdancer commented on #332
@blented this should work now. If still won't work in your case pls share some scenes.

[2018-10-17 04:09] blented opened #338 "Animation not working on VRay Cloud"
I've tested an animated alembic and camera thus far
- the alembic doesn't move from the frame you rendered it on
- the camera only moves for the last frame of the sequence

I tried different export settings, $F in the .vrscene output, etc nothing seems to do the trick.

I'm going to see if I can get the command line submit to work in the morning and try exporting a .vrscene per frame then submitti

[2018-10-17 13:40] bdancer commented on #338
@blented could you upload some simple setup?

[2018-10-17 17:40] blented commented on #338
@bdancer

Here's a simple test scene w/ a counter and animated camera:
https://drive.google.com/open?id=1G-tvc9t9tD6Qq5r9VMB6PbXcWmZvs3g5

Result is all 5's:
https://vray.cloud/jobs/Bffi6lBXGvyGsowj

![image](https://user-images.githubusercontent.com/1403171/47105479-ec383000-d1f8-11e8-8556-b5e36586dddf.png)

[2018-10-18 03:05] blented opened #339 "Can't connect custom material HDA to VRay Proxy Material"
A regular subnet can be connected to the VRay Proxy Material, but not a custom HDA (which is just a subnet turned in to a reusable tool).

![image](https://user-images.githubusercontent.com/1403171/47128565-9c805580-d246-11e8-82f2-88a96e5f03f5.png)

Test file (hip, abc, and hda):
https://drive.google.com/open?id=1U3HWJmoDKNionkRxhKXe_pw1KkCrgQ1P

Enabling this would allow us to wrap our substance

[2018-10-18 03:06] blented commented on #332
Working!  Doesn't work w/ HDAs, but I submitted that as a new issues cuz I think it's separate.
https://github.com/ChaosGroup/vray-for-houdini/issues/339

[2018-10-18 03:06] #332 closed

[2018-10-18 10:35] bdancer commented on #338
@blented could you try some more recent nightly build? Cause it work fine for me:
![image](https://user-images.githubusercontent.com/319784/47148886-a489d500-d2da-11e8-938c-79f5886d0ded.png)

[2018-10-18 10:36] bdancer commented on #338
@blented also try "vcloud update" just in case.
It's located under:
```c:\Users\%USERNAME%\AppData\Roaming\Chaos Group\V-Ray\V-Ray Cloud Client>```

[2018-10-18 11:05] bdancer commented on #339
Should work correctly in the next nightly.

[2018-10-24 01:15] blented commented on #338
Confirmed fixed on vray_adv_40304_houdini16.5.496_913ba00_2972, thanks!

[2018-10-24 01:15] #338 closed

[2018-10-24 13:28] bdancer commented on #334
@bravehamster could you check this?

[2018-10-24 15:06] blented commented on #335
@bdancer Updated zip test scene to include the alembic, sry about that:
https://drive.google.com/file/d/12QlufFFYAY33nB0xm5WzK40hqP_I5ojr/view?usp=sharing

[2018-10-24 15:13] blented commented on #335
Solution is that filtering needs to be on for the light select render element, this default was changed but it wasn't updated in our test scene, so all good.

[2018-10-24 15:13] #335 closed

[2018-10-25 11:21] bravehamster commented on #334
@bdancer yep I'm on it now

[2018-10-25 14:14] bdancer commented on #334
@bravehamster tnx!
@blented will work in the next nightly.

[2018-10-26 02:36] blented opened #340 "Merging VRay Proxies results in duplicating the first proxy"
Merging two VRay Proxies results in duplicating the first proxy as opposed to having two unique proxies.  This recently broke and works on a build from a few weeks ago.

Test file including abc's (rops for the abc's are in there as well, just a toy and pig):
https://drive.google.com/open?id=1MEyT0A2-TXDQ1xN44s4i3_7jnMOyKtDU

Left is 16.5.496_5707d8d_2870
Right is 16.5.496_913ba00_2977
![image](htt

[2018-10-26 09:32] bdancer commented on #340
Fixed, sorry for that, I'll restart nightlies now.

[2018-10-26 15:29] blented commented on #340
Confirmed fixed on 4.03.04.2bc0c46_2988 ❤️

[2018-10-27 03:34] blented opened #341 "VRay Rectangle Lights not working in Houdini 17"
Rectangle lights work in 16.5 but not in 17, from Oct 24 nightly build.

Inspecting the generated .vrscene the rec light's size is being written out as 0 in 17:
[code]
vs 16.5:
[code]

Example file:
https://drive.google.com/file/d/1rKmp82YxeqcOTjkUb_PrI778fSUxklv6/view?usp=sharing

[2018-10-28 17:08] ISUther commented on #329
Some how cant access mentioned link. As no username or password but same time i am able to log in to chaos group and i have signed up for vray for houdini beta. Got also installation but only for 16.5 but not 17 ver houdini.

Any info how can i get vray that works for houdini 17?

[2018-10-29 09:29] bdancer commented on #341
@bravehamster I've pushed a fix, could you pls check?

[2018-10-30 13:10] bravehamster commented on #341
Yup, it's exported correctly now.
I've noticed we export half the value in the UI (so UV Size of 1/1 is exported as 0.5/0.5).
In Maya the UI value equals the exported value.
I think that's not a new bug or anything, I just never realized until now.
Should be do something about this?

@blented  , any thoughts on this?

[2018-10-30 14:03] bdancer commented on #341
@bravehamster in Maya it's U/V size (half-width/height):
![image](https://user-images.githubusercontent.com/319784/47723396-1956fa80-dc5d-11e8-8101-ebe14420950e.png)
In Houdini it's total width/height:
![image](https://user-images.githubusercontent.com/319784/47723453-3b507d00-dc5d-11e8-93c0-b93b06ff732e.png)

We could just rename the parameters in Houdini.

[2018-10-31 00:19] blented commented on #341
Confirmed working in the latest nightly vray_adv_40304_houdini16.5.496_a0081e0_3006

[2018-10-31 00:19] #341 closed

[2018-10-31 00:25] blented opened #342 "Referenced and op: params not working"
Referenced and op: params aren't working in the latest nightly.  Inspecting the .vrscene it seems the params aren't being de-referenced before export.

This should be the path to the alembic instead:
[code]

This was working in Oct 23's nightly so it broke recently.

![image](https://user-images.githubusercontent.com/1403171/47758473-5d033180-dc68-11e8-9120-4ceb8775e258.png)

![image](https://user

[2018-10-31 17:51] blented commented on #342
Ah copy, that's good news, thanks Andrei!

[2018-10-31 17:54] bdancer commented on #342
@blented I've pushed a temporary fix for proxy, @poseidon4o will finish it tomorrow.

[2018-11-04 01:48] ISUther opened #343 "Vray beta in houdini. How to load in UDIM textures and create basic skinn shader?"
Hello,

I am trying to use Vray and test it out how skin shader looks like in Houdini using vray.
Did not want to buy other rendering engine as i do like usually vray results, *those what i have seen
what node to use in order to load in textures i created in Mari?
What file format those textures must be?
i have base color maps, displacement maps and multy channel maps.

[2018-11-04 04:50] blented commented on #343
@ISUther the format is:
[code]

[2018-11-04 05:00] ISUther commented on #343
But what nodes to use where to load in the textures?
I am using Vray first time.
I created vray material builder node in houdini and when i dived inside i have nodes like vray_material_output1
VRayNodeBRDFVRayMtl1
I created vray displacement node and plugged in those displacement maps
but i do not know where to insert other texture files (base color maps as UDIM-s for example).
Those options i hav

[2018-11-04 05:09] blented commented on #343
Ah gotcha, the node you're looking for is VRay Image File, you can use that to load in the textures and plug them in to VRayMtl1 @ISUther

[2018-11-04 05:37] ISUther commented on #343
What am i doing wrong here?
Does not seem to work.
https://i.imgur.com/ay1ICQo.png

Here is small video i made where i try to explain the issue.

https://www.youtube.com/watch?v=FKZ74H-EK1c&feature=youtu.be

[2018-11-04 07:09] blented commented on #343
Super close, the texture path should read:
[code]

The syntax for VRay is different than Houdini (ideally they would support Houdini's syntax to avoid confusion but until then you have to change it manually.

![image](https://user-images.githubusercontent.com/1403171/47961305-ecd91080-dfc5-11e8-8515-7818d70524d7.png)

[2018-11-04 11:38] ISUther commented on #343
@blented Hey. Thank you it started working.
Tho now some how displays it bit wrong.

Here is how it displays.
https://www.youtube.com/watch?v=WHadJJSbOwY&feature=youtu.be

[2018-11-05 10:20] bdancer commented on #343
@ISUther could you send me your scene at andrei.izrantcev@chaosgroup.com to check what's going on?

[2018-11-05 11:24] blented opened #344 "VRay Proxy's loose their intrinsic bounds"
I can upload a test scene later this morning but it's pretty simple:

1. Load in a VRay Proxy, set an alembic as it's file
2. Connect it to an attribute vop or a merge or anything
3. Hit space + g in the viewport

With no bounding box framing the object in the viewport won't work. You can also inspect the primitive intrinsics and observe the bounding box change.

[2018-11-05 11:53] bdancer commented on #344
This sounds like a bug, but as I mentioned earlier it's better to use native Alembic node for Alembic files.

[2018-11-05 12:29] bdancer commented on #344
And I can't reproduce this. Middle-click also shows correct bbox.

[2018-11-05 12:41] bdancer commented on #343
@ISUther Using `<UDIM>` seems to work fine for me, so yeh, scene will be much appreciated.

Also I've added internal `%(UDIM)d` translation info `<UDIM>`. Will be available in tomorrow nightly.

[2018-11-05 21:57] chrisheckey opened #345 "Houdini 17 Windows Build - Warning: Bad operator type when binding handles"
Greetings,

Currently having an issue trying to use the latest nightlies with Houdini 17 on Windows.  No Lights are available and the following warnings print out to the console:

Warning: Bad operator type when binding handles: Object/VRayNodeSunLight
Warning: Bad operator type when binding handles: Object/VRayNodeLightDirect
Warning: Bad operator type when binding handles: Object/VRayNodeLightAm

[2018-11-06 11:06] bdancer commented on #345
Have you edited houdini.env for 17.0?

[2018-11-06 16:49] bdancer commented on #345
Is this Windows 7 or 8? Should work fine in tomorrow nightly.
For `houdini.env` you'll need to make sure "compat" directly is in path:
[code]

[2018-11-07 17:55] chrisheckey commented on #345
@bdancer Turns out it was the dbgcore.dll missing from the PATH.  Seems that the dll was not included in the build I was using.  Latest nightlies have it so all is well.

Thanks for the help.

[2018-11-07 17:55] #345 closed

[2018-11-09 14:55] bdancer commented on #84
Use "User Color" instead of color channel.

[2018-11-09 14:55] #84 closed

[2018-11-09 15:01] #283 closed

[2018-11-09 15:01] #318 closed

[2018-11-09 15:01] #280 closed

[2018-11-09 15:01] #272 closed

[2018-11-09 15:02] #268 closed

[2018-11-09 15:02] #66 closed

[2018-11-09 15:07] bdancer commented on #66
Works, but better leave it as Point attr.

[2018-11-09 15:11] #86 closed

[2018-11-09 15:50] #83 closed

[2018-11-09 15:51] #202 closed

[2018-11-12 11:17] #184 closed

[2018-11-12 11:46] #200 closed

[2018-11-12 11:46] #342 closed

[2018-11-12 11:47] #310 closed

[2018-11-12 11:47] bdancer commented on #310
Adaptive Dome is still in WIP.

[2018-11-12 11:51] #182 closed

[2018-11-12 11:51] #173 closed

[2018-11-12 11:52] #326 closed

[2018-11-12 11:52] #277 closed

[2018-11-12 11:54] bdancer commented on #125
This is not supported by the MtlVRmat.

[2018-11-12 11:54] #125 closed

[2018-11-12 11:54] #100 closed

[2018-11-12 11:54] bdancer commented on #51
No way to implement this.

[2018-11-12 11:54] #51 closed

[2018-11-12 11:57] #263 closed

[2018-11-12 11:57] #264 closed

[2018-11-12 12:04] #334 closed

[2018-11-12 12:04] #314 closed

[2018-11-12 12:07] #260 closed

[2018-11-12 12:07] #252 closed

[2018-11-12 12:08] #251 closed

[2018-11-12 12:08] #238 closed

[2018-11-12 12:08] #102 closed

[2018-11-12 12:09] #157 closed

[2018-11-12 12:09] #233 closed

[2018-11-12 12:10] #254 closed

[2018-11-12 12:11] #112 closed

[2018-11-12 12:11] #235 closed

[2018-11-12 12:11] #222 closed

[2018-11-12 12:11] #236 closed

[2018-11-12 12:12] #242 closed

[2018-11-12 12:12] #221 closed

[2018-11-12 12:14] #163 closed

[2018-11-12 12:14] #313 closed

[2018-11-12 12:14] #214 closed

[2018-11-12 12:14] #230 closed

[2018-11-12 12:15] #229 closed

[2018-11-12 12:16] #316 closed

[2018-11-12 12:16] #172 closed

[2018-11-12 12:16] #308 closed

[2018-11-12 12:17] #302 closed

[2018-11-12 12:28] #186 closed

[2018-11-12 12:29] #296 closed

[2018-11-12 12:30] #188 closed

[2018-11-12 12:30] #305 closed

[2018-11-12 12:31] #243 closed

[2018-11-12 12:31] bdancer commented on #58
Well, that's how it works on textures with high contrast... You could try using subdivision mode + higher settings.

[2018-11-12 12:31] #58 closed

[2018-11-12 12:32] #307 closed

[2018-11-12 12:32] #278 closed

[2018-11-12 12:33] bdancer commented on #343
@ISUther did it work for you? Drop me a scene please if this still not resolved andrei.izrantcev@chaosgroup.com.

[2018-11-12 12:33] #297 closed

[2018-11-12 12:34] #284 closed

[2018-11-12 12:34] #281 closed

[2018-11-12 12:46] bdancer commented on #266
So the primitive for Yeti is there, once Yeti will support V-Ray Next (may be they already do) you'll be able to render Yeti cache files directly.

[2018-11-12 12:46] #266 closed

[2018-11-12 12:47] #270 closed

[2018-11-12 12:47] #246 closed

[2018-11-12 12:48] bdancer commented on #234
I've added "Fog" node, simply add it to "V-Ray Environment" context.

[2018-11-12 12:48] #234 closed

[2018-11-12 14:03] #331 closed

[2018-11-12 14:39] #231 closed

[2018-11-12 16:32] #269 closed

[2018-11-13 04:55] blented opened #346 "Instancing subnets doesn't work"
Instancing lights and geo works correctly, but instancing a subnet containing lights and/or geo doesn't work.

A subnet would be used to create a streetlight for example, to instance both lights and geo together on to points.

Mantra render:
![image](https://user-images.githubusercontent.com/1403171/48391757-fa288600-e6bc-11e8-8b33-f03372860041.png)

Example scene:
https://drive.google.com/open?id

[2018-11-13 06:11] blented opened #347 "Post Translate Script Parameter Missing"
It seems Houdini's VRay Rop is missing Maya's Post Translate Python Script, as described here:
https://docs.chaosgroup.com/display/VRAY3MAYA/Python+Access+to+the+Translated+V-Ray+Scene

The script slots that are there seem to run in Houdini's normal Rop context.

[2018-11-13 06:23] blented opened #348 "Unpacking VRayScene causes objects to disappear in viewport"
VRayScene when imported has visible objects, when you check Expand Primitives the objects disappear.

Worth noting that unpack > transform still works maybe?

Example file:
https://drive.google.com/open?id=1ww6agwMmzzO8jp1FdeeG9-87l8Kivg8X

[2018-11-13 06:26] blented opened #349 "VRay Scene and VRay Proxy Reloading"
VRay Scene needs a reload button as it doesn't have one currently.

VRay Proxy's reload button doesn't work:
1. Write out an Alembic
2. Load it in with VRay Proxy
3. Overwrite the alembic with something else
4. Hit reload on the VRay Proxy

Object isn't reloaded in the viewport.  It updates in the render but the viewport won't change until you set the path to nothing, then set it back to the origi

[2018-11-13 10:38] bdancer commented on #347
Python post-translate is available only in Maya...

[2018-11-13 10:50] blented commented on #347
@bdancer any chance of I coming to Houdini? We use it for material overrides etc in Maya and it's super handy.

[2018-11-14 13:59] #32 closed

[2018-11-14 13:59] #124 closed

[2018-11-14 13:59] #141 closed

[2018-11-14 14:00] #171 closed

[2018-11-14 14:00] #177 closed

[2018-11-14 14:00] #187 closed

[2018-11-14 14:00] #190 closed

[2018-11-14 14:00] #195 closed

[2018-11-14 14:00] #212 closed

[2018-11-14 14:00] #258 closed

[2018-11-14 14:00] #282 closed

[2018-11-14 14:00] #315 closed

[2018-11-14 14:00] #336 closed

[2018-11-14 14:00] #343 closed

[2018-11-14 14:00] #344 closed

[2018-11-14 14:00] #346 closed

[2018-11-14 14:00] #347 closed

[2018-11-14 14:00] #348 closed

[2018-11-14 14:00] #349 closed